---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.1371/JOURNAL.PBIO.2001414
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"TEST/ADMIN","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://frami.biz/lorilee"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":301,"message":"That prefix doesn''t live here","handle":"10.1371/JOURNAL.PBIO.2001414"}'
  recorded_at: Sat, 20 Jul 2019 08:59:55 GMT
recorded_with: VCR 3.0.3
