---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.5438/MCNV-GA6N
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"TEST/ADMIN","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"https://blog.datacite.org/re3data-science-europe/"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.5438/MCNV-GA6N"}'
  recorded_at: Wed, 26 Sep 2018 08:52:02 GMT
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles/10.5438/MCNV-GA6N?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.5438/MCNV-GA6N","values":[{"index":1,"type":"URL","data":{"format":"string","value":"https://blog.datacite.org/re3data-science-europe/"},"ttl":86400,"timestamp":"2018-09-26T08:52:02Z"}]}'
  recorded_at: Wed, 26 Sep 2018 08:52:02 GMT
recorded_with: VCR 3.0.3
