---
http_interactions:
- request:
    method: put
    uri: https://mds-legacy.test.datacite.org/doi/10.5438/MCNV-GA6N
    body:
      encoding: UTF-8
      string: |-
        doi=10.5438/MCNV-GA6N
        url=https://blog.datacite.org/
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Authorization:
      - Basic ZGF0YWNpdGUuZGF0YWNpdGU6S2Y3SkVRMmM=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Tue, 24 Jul 2018 07:51:48 GMT
- request:
    method: get
    uri: http://38.100.138.135:8000/api/handles/10.5438/MCNV-GA6N?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.5438/MCNV-GA6N","values":[{"index":1,"type":"URL","data":{"format":"string","value":"https://blog.datacite.org/re3data-webinar-and-datacite-en-avant/"},"ttl":86400,"timestamp":"2017-01-09T13:54:42Z"}]}'
  recorded_at: Tue, 24 Jul 2018 07:51:48 GMT
recorded_with: VCR 3.0.3
