---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations?filter=types:Government,country.country_code:GB&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 112eea9f-37a9-49b2-85f8-6d2baaecedb0
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Amzn-Remapped-Content-Length:
      - '21595'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Rgh3OEbjjoEEmDw=
      X-Amzn-Remapped-Server:
      - nginx/1.18.0 + Phusion Passenger 6.0.7
      Status:
      - 200 OK
      X-Amzn-Remapped-Date:
      - Fri, 26 Sep 2025 11:46:02 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":336,"time_taken":17,"items":[{"admin":{"created":{"date":"2024-11-18","schema_version":"2.0"},"last_modified":{"date":"2024-12-11","schema_version":"2.1"}},"domains":["redbridge.gov.uk"],"established":1963,"external_ids":[{"all":["0000
        0004 0413 2350"],"preferred":"0000 0004 0413 2350","type":"isni"},{"all":["Q208955"],"preferred":"Q208955","type":"wikidata"}],"id":"https://ror.org/040x97916","links":[{"type":"website","value":"https://www.redbridge.gov.uk"},{"type":"wikipedia","value":"https://en.wikipedia.org/wiki/London_Borough_of_Redbridge"}],"locations":[{"geonames_details":{"continent_code":"EU","continent_name":"Europe","country_code":"GB","country_name":"United
        Kingdom","country_subdivision_code":"ENG","country_subdivision_name":"England","lat":51.56667,"lng":0.08333,"name":"Redbridge"},"geonames_id":3333185}],"names":[{"lang":"en","types":["acronym"],"value":"LBR"},{"lang":"en","types":["label","ror_display"],"value":"London
        Borough of Redbridge"}],"relationships":[],"status":"active","types":["government"]},{"admin":{"created":{"date":"2021-09-23","schema_version":"1.0"},"last_modified":{"date":"2024-12-11","schema_version":"2.1"}},"domains":[],"established":null,"external_ids":[{"all":["grid.511172.1"],"preferred":"grid.511172.1","type":"grid"},{"all":["0000
        0004 0613 128X"],"preferred":null,"type":"isni"},{"all":["Q101046429"],"preferred":null,"type":"wikidata"}],"id":"https://ror.org/059zxg644","links":[{"type":"website","value":"http://www.ed.ac.uk/schools-departments/medicine-vet-medicine/about/little-france/qmri"}],"locations":[{"geonames_details":{"continent_code":"EU","continent_name":"Europe","country_code":"GB","country_name":"United
        Kingdom","country_subdivision_code":"SCT","country_subdivision_name":"Scotland","lat":55.95206,"lng":-3.19648,"name":"Edinburgh"},"geonames_id":2650225}],"names":[{"lang":null,"types":["acronym"],"value":"QMRI"},{"lang":"en","types":["ror_display","label"],"value":"The
        Queen''s Medical Research Institute"}],"relationships":[{"label":"University
        of Edinburgh","type":"parent","id":"https://ror.org/01nrxwf90"}],"status":"active","types":["government"]},{"admin":{"created":{"date":"2025-02-26","schema_version":"2.1"},"last_modified":{"date":"2025-02-26","schema_version":"2.1"}},"domains":["nstauthority.co.uk"],"established":2015,"external_ids":[],"id":"https://ror.org/02ag4yb46","links":[{"type":"website","value":"https://www.nstauthority.co.uk"},{"type":"wikipedia","value":"https://en.wikipedia.org/wiki/North_Sea_Trans[...]
