---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/reports?page%5Bnumber%5D=1&page%5Bsize%5D=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"c10f62298a868f5a0443ba5128fa349d"
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"0498876e-dd55-42b0-b2a6-850df004a0e4","report-header":{"report-name":"resolution
        report","report-id":"dsr","release":"drl","created-by":"datacite.datacite","created":"2019-02-27","reporting-period":{"end-date":"2018-10-31","begin-date":"2018-10-01"},"report-filters":[],"report-attributes":[],"exceptions":[{"code":69,"data":"usage
        data needs to be uncompressed","message":"Report is compressed using gzip","help-url":"https://github.com/datacite/sashimi","severity":"warning"}]}},{"id":"0ba6375f-c99a-43e4-8bfc-b763fd22811b","report-header":{"report-name":"dataset
        rehport","report-id":"DSRf","release":"rd1","created-by":"datacite.harvard3","created":"2018-05-31","reporting-period":{"end-date":"2040-05-31","begin-date":"2040-05-01"},"report-filters":[],"report-attributes":[],"exceptions":[]}},{"id":"1415853b-3a34-4f7b-a2de-7afec54b07bf","report-header":{"report-name":"Dataset
        Master Report","report-id":"SDR","release":"RD1","created-by":"test2[...]
