---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/reports?page%5Bnumber%5D=1&page%5Bsize%5D=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"63845934af71517e70504bddcbc5dd32"
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"073f27b5-d38b-4301-ab73-3274ba3eb672","report-header":{"report-name":"dataset
        report","report-id":"DSR","release":"rd1","created-by":"Dash","created":"2019-05-15","reporting-period":{"end-date":"2019-05-15","begin-date":"2019-05-01"},"report-filters":[],"report-attributes":[],"exceptions":[{"code":3040,"data":"usage
        data has not been processed for the entire reporting period","message":"partial
        data returned","help-url":"String","severity":"warning"}]}},{"id":"08761bb6-f8d9-4d01-8012-fd21042fd71d","report-header":{"report-name":"dataset
        report","report-id":"DSR","release":"rd1","created-by":"Dash","created":"2018-05-31","reporting-period":{"end-date":"2018-05-31","begin-date":"2018-05-01"},"report-filters":[],"report-attributes":[],"exceptions":null}},{"id":"0b99a0be-3683-474f-9f0c-2552e266088a","report-header":{"report-name":"Dataset
        Master Report","report-id":"dsr","release":"rd1","created-by":"KNB Data Repositor[...]
