---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/reports?page%5Bnumber%5D=1&page%5Bsize%5D=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"f881f1702223185fc9a7f5eca1ff9c1e"
    body:
      encoding: ASCII-8BIT
      string: '{"reports":[{"id":"0148536f-bfbc-4775-b93c-524e91d0b9f6","report-header":{"report-name":"Dataset
        Master Report","report-id":"dsr","release":"rd1","created-by":"urn:node:GOA","created":"2019-05-18","reporting-period":{"end-date":"2017-09-30","begin-date":"2017-09-01"},"report-filters":[],"report-attributes":[],"exceptions":[]}},{"id":"02770ab1-08b5-45f1-bc31-f4a5987b2c3e","report-header":{"report-name":"Dataset
        Master Report","report-id":"dsr","release":"rd1","created-by":"urn:node:ARCTIC","created":"2019-05-18","reporting-period":{"end-date":"2017-05-31","begin-date":"2017-05-01"},"report-filters":[],"report-attributes":[],"exceptions":[]}},{"id":"02db4c1e-31c1-4e5b-bad8-30c814ac557a","report-header":{"report-name":"dataset
        report","report-id":"DSR","release":"rd1","created-by":"Dryad","created":"2016-12-31","reporting-period":{"end-date":"2016-12-31","begin-date":"2016-12-01"},"report-filters":[],"report-attributes":[],"exceptions":[{"code":69,"data":"usage
        data needs to be uncompressed","message":"Report is compressed using gzip","help-url":"https://github.com/datacite/sashimi","severity":"warning"}]}},{"id":"0411ab7a-7347-4b01-bbd6-04fa98bb5ccf","report-header":{"report-name":"dataset
        report","report-id":"DSR","release":"rd1","created-by":"Ari347834","created":"2019-11-30","reporting-period":{"end-date":"2002-04-04","begin-date":"2002-04-01"},"report-filters":[],"report-attributes":[],"exceptions":[]}},{"id":"0498876e-dd55-42b0-b2a6-850df004a0e4","report-header":{"report-name":"resolution
        report","report-id":"dsr","release":"drl","created-by":"datacite.datacite",[...]
