---
http_interactions:
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles/10.14454/05MB-Q396?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.14454/05MB-Q396","values":[{"index":1,"type":"URL","data":{"format":"string","value":"https://www.datacite.org/roadmap.html"},"ttl":86400,"timestamp":"2018-07-20T11:49:02Z"}]}'
  recorded_at: Fri, 23 Aug 2019 06:55:15 GMT
recorded_with: VCR 3.0.3
