---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.7272
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"434d63d02889e47275389a930375c569"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.7272","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2012-03-15T09:47:35.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"cdl.ucsfctsi","type":"clients"}]},"providers":{"data":[{"id":"cdl","type":"providers"}]}}},"included":[{"id":"cdl.ucsfctsi","type":"clients","attributes":{"name":"UCSF
        Clinical & Translational Science Institute (CTSI)","symbol":"CDL.UCSFCTSI","year":2012,"contact-name":"EZID
        Support Desk","contact-email":"ezid@ucop.edu","domains":"*","url":null,"created":"2012-07-10T20:59:53.000Z","updated":"2018-08-26T02:35:12.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"cdl","type":"providers"}},"prefixes":{"data":[{"id":"10.5072","type":"prefixes"},{"id":"10.7272","type":"prefixes"}]}}},{"id":"cdl","type":"providers","attributes":{"name":"California
        Digital Library","symbol":"CDL","website":"http://ezid.cdlib.org","contact-name":"EZID
        Support Desk","contact-email":"ezid@ucop.edu","phone":null,"description":"California
        Digital Library (CDL) handles scholarly information at every stage of its
        life. CDL provides technology and expertise to help the University of California
        (UC) collect, publish, access, and preserve its full range of information
        resources. CDL partners with organizations outside the UCs on far-reaching
        problems.\n\nCDL offers DataCite DOIs to University of California scholars
        and researchers via the EZID service. EZID is also available as a general
        identifier service to help educational, non-profit, governmental and commercial
        clients create and manage globally unique identifiers for data and other sources.","region":"AMER","country":"US","logo-url":"https://assets.datacite.org/images/members/cdl.png","organization-type":"academic_institution","focus-area":"general","is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-10-24T20:47:51.000Z"},"relationships":{"prefixes":{"data":[{"id":"10.5062","type":"prefixes"},{"id":"10.5063","type":"prefixes"},{"id":"10.5065","type":"prefixes"},{"id":"10.5068","type":"prefixes"},{"id":"10.5069","type":"prefixes"},{"id":"10.5070","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.6071","type":"prefixes"},{"id":"10.6072","type":"prefixes"},{"id":"10.6074","type":"prefixes"},{"id":"10.6075","type":"p[...]
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,url,xml,state,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.7272/q6g15xs4&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"CDL.UCSFCTSI","url":"https://datashare.ucsf.edu/stash/dataset/doi:10.7272/Q6G15XS4","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNzI3Mi9RNkcxNVhTNDwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnM+CiAgICA8Y3JlYXRvcj4KICAgICAgPGNyZWF0b3JOYW1lPlJvZHJ[...]
