---
http_interactions:
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles?pageSize=0&prefix=10.70001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":2,"message":"HandleException (INVALID_VALUE) The requested
        prefix doesn''t live here","handle":"10.70001"}'
  recorded_at: Sun, 03 Feb 2019 17:39:27 GMT
recorded_with: VCR 3.0.3
