services:
  web:
    env_file: .env
    environment:
      - ELASTIC_PASSWORD=AnUnsecurePassword123
      - PASSENGER_MAX_POOL_SIZE=12
      - PASSENGER_MIN_INSTANCES=5
    image: ghcr.io/datacite/lupo:main
    # build: .
    ports:
      - "8065:80"
      - "2265:22"
    volumes:
      - ./app:/home/app/webapp/app
      - ./config:/home/app/webapp/config
      - ./db:/home/app/webapp/db
      - ./lib:/home/app/webapp/lib
      - ./spec:/home/app/webapp/spec
      - ./storage:/home/app/webapp/storage
    networks:
      - public
    depends_on:
      - elasticsearch
      - mysql
      - memcached
      - minio

  memcached:
    image: memcached:1.6.22
    networks:
      - public

  mysql:
    command: --max_allowed_packet=50000000
    environment:
      MYSQL_DATABASE: datacite
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    image: mysql:8.4.7
    ports:
      - "3309:3306"
    networks:
      - public

  elasticsearch:
    image: opensearchproject/opensearch:2
    ports:
      - "9201:9200"
      - "9301:9300"
    environment:
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: AnUnsecurePassword123
      DISABLE_SECURITY_PLUGIN: true
      http.cors.enabled: true
      bootstrap.memory_lock: true
      http.cors.allow-origin: "*"
      compatibility.override_main_response_version: true
      logger.org.opensearch.discovery: "ERROR"
    volumes:
      - data:/usr/share/opensearch/data
    networks:
      - public
    healthcheck:
      test: curl -f http://admin:AnUnsecurePassword123@elasticsearch:9200
      interval: 10s
      timeout: 1s

  minio:
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - public
    volumes:
      - data:/user/share/minio/data

volumes:
  data:
    driver: local

networks:
  public:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.0.40.0/24
