---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0APREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0APREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0APREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0APREFIX%20p:%20%3Chttp://www.wikidata.org/prop/%3E%0APREFIX%20v:%20%3Chttp://www.wikidata.org/prop/statement/%3E%0A%0ASELECT%20?item%20?itemLabel%20?ror%20?grid%20?ringgold%20WHERE%20%7B%20%20%0A%20%20?item%20wdt:P6782%20?ror;%0A%20%20%20%20%20%20%20%20wdt:P3500%20?ringgold;%0A%20%20%20%20%20%20%20%20wdt:P2427%20?grid%20.%0A%20%20FILTER(%20%7C%7C%20)).%0A%20%20SERVICE%20wikibase:label%20%7B%0A%20%20%20%20bd:serviceParam%20wikibase:language%20%22%5BAUTO_LANGUAGE%5D%22%20.%0A%20%20%20%7D%0A%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain
      X-Client-Ip:
      - 87.155.5.120
    body:
      encoding: ASCII-8BIT
      string: "SPARQL-QUERY: queryStr=PREFIX wikibase: <http://wikiba.se/ontology#>\nPREFIX
        wd: <http://www.wikidata.org/entity/> \nPREFIX wdt: <http://www.wikidata.org/prop/direct/>\nPREFIX
        rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nPREFIX p: <http://www.wikidata.org/prop/>\nPREFIX
        v: <http://www.wikidata.org/prop/statement/>\n\nSELECT ?item ?itemLabel ?ror
        ?grid ?ringgold WHERE {  \n  ?item wdt:P6782 ?ror;\n        wdt:P3500 ?ringgold;\n
        \       wdt:P2427 ?grid .\n  FILTER( || )).\n  SERVICE wikibase:label {\n
        \   bd:serviceParam wikibase:language \"[AUTO_LANGUAGE]\" .\n   }\n}\njava.util.concurrent.ExecutionException:
        org.openrdf.query.MalformedQueryException: Encountered \" \"||\" \"|| \"\"
        at line 12, column 11.\nWas expecting one of:\n    \"(\" ...\n    \"!\" ...\n
        \   \"+\" ...\n    \"-\" ...\n    \"exists\" ...\n    \"not exists\" ...\n
        \   \"str\" ...\n    \"lang\" ...\n    \"langmatches\" ...\n    \"datatype\"
        ...\n    \"bound\" ...\n    \"sameTerm\" ...\n    <IS_IRI> ...\n    \"isBlank\"
        ...\n    \"isLiteral\" ...\n    \"isNumeric\" ...\n    \"coalesce\" ...\n
        \   \"bnode\" ...\n    \"strdt\" ...\n    \"strlang\" ...\n    \"uuid\" ...\n
        \   \"struuid\" ...\n    <IRI> ...\n    \"if\" ...\n    \"count\" ...\n    \"sum\"
        ...\n    \"min\" ...\n    \"max\" ...\n    \"avg\" ...\n    \"sample\" ...\n
        \   \"group_concat\" ...\n    \"regex\" ...\n    \"true\" ...\n    \"false\"
        ...\n    \"strlen\" ...\n    \"substr\" ...\n    \"strStarts\" ...\n    \"strEnds\"
        ...\n    \"strBefore\" ...\n    \"strAfter\" ...\n    \"replace\" ...\n    \"ucase\"
        ...\n    \"lcase\" ...\n    \"concat\" ...\n    \"contains\" ...\n    \"encode_for_URI\"
        ...\n    \"rand\" ...\n    \"abs\" ...\n    \"ceil\" ...\n    \"floor\" ...\n
        \   \"round\" ...\n    \"now\" ...\n    \"year\" ...\n    \"month\" ...\n
        \   \"day\" ...\n    \"hours\" ...\n    \"minutes\" ...\n    \"seconds\" ...\n
        \   \"timezone\" ...\n    \"tz\" ...\n    \"md5\" ...\n    \"sha1\" ...\n
        \   \"sha224\" ...\n    \"sha256\" ...\n    \"sha384\" ...\n    \"sha512\"
        ...\n    <Q_IRI_REF> ...\n    <PNAME_NS> ...\n    <PNAME_LN> ...\n    <VAR1>
        ...\n    <VAR2> ...\n    <INTEGER> ...\n    <INTEGER_POSITIVE> ...\n    <INTEGER_NEGATIVE>
        ...\n    <DECIMAL> ...\n    <DECIMAL_POSITIVE> ...\n    <DECIMAL_NEGATIVE>
        ...\n    <DOUBLE> ...\n    <DOUBLE_POSITIVE> ...\n    <DOUBLE_NEGATIVE> ...\n
        \   <STRING_LITERAL1> ...\n    <STRING_LITERAL2> ...\n    <STRING_LITERAL_LONG1>
        ...\n    <STRING_LITERAL_LONG2> ...\n    \n\tat java.util.concurrent.FutureTask.report(FutureTask.java:122)\n\tat
        java.util.concurrent.FutureTask.get(FutureTask.java:206)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:292)\n\tat
        com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:678)\n\tat
        com.bigdata.rdf.sail.webapp.QueryServlet.doGet(QueryServlet.java:290)\n\tat
        com.bigdata.rdf.sail.webapp.RESTServlet.doGet(RESTServlet.java:240)\n\tat
[...]
