---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/501100006568
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"501100006568":"Toagosei"},"replaced-by":[],"work-count":1,"name":"Toagosei","descendants":[],"descendant-work-count":1,"id":"501100006568","tokens":["toagosei","toagosei","co","ltd","toagosei","chemical","industry","company","limited","toagosei","company","limited"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/501100006568","hierarchy":{"501100006568":{}},"alt-names":["Toagosei
        Co., Ltd.","Toagosei Chemical Industry Company Limited","Toagosei Company
        Limited"],"location":"Japan"}}'
  recorded_at: Mon, 13 Jul 2020 12:18:45 GMT
recorded_with: VCR 5.1.0
