---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/10703
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://www.bl.uk/pdf/patspec.pdf"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="1cb5gclbzu6w21jdruy49hqhwq", nonce="4u5oicmEZoHuwRPUT8U5tQ==",
        error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 10 Jun 2021 02:00:39 GMT
recorded_with: VCR 5.1.0
