---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/repositories/10.17616/xxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"18dc9864a375313021c3c873513b4dcb"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.17616/R38W4R","type":"repositories","attributes":{"re3dataId":"r3d100011086","repositoryName":"CancerData.org","repositoryUrl":"https://www.cancerdata.org/","repositoryContacts":[{"text":"info@cancerdata.org"},{"text":"https://www.cancerdata.org/about?q=contact"}],"description":"The
        CancerData site is an effort of the Medical Informatics and Knowledge Engineering
        team (MIKE for short) of Maastro Clinic, Maastricht, The Netherlands. Our
        activities in the field of medical image analysis and data modelling are visible
        in a number of projects we are running. CancerData is offering several datasets.
        They are grouped in collections and can be public or private. You can search
        for public datasets in the NBIA (National Biomedical Imaging Archive) image
        archives without logging in.","certificates":[],"types":[{"text":"disciplinary"}],"additionalNames":[{"text":"Sharing
        data for cancer research","language":"eng"}],"subjects":[{"text":"2 Life Sciences","scheme":"DFG"},{"text":"201
        Basic Biological and Medical Research","scheme":"DFG"},{"text":"21 Biology","scheme":"DFG"},{"text":"22
        Medicine","scheme":"DFG"}],"contentTypes":[{"text":"Standard office documents","scheme":"parse"},{"text":"Databases","scheme":"parse"},{"text":"Images","scheme":"parse"},{"text":"Structured
        graphics","scheme":"parse"},{"text":"Scientific and statistical data formats","scheme":"parse"},{"text":"Raw
        data","scheme":"parse"},{"text":"Plain text","scheme":"parse"},{"text":"Archived
        data","scheme":"parse"},{"text":"other","scheme":"parse"}],"providerTypes":[{"text":"dataProvider"}],"keywords":[{"text":"cancer"},{"text":"image"},{"text":"tumor"},{"text":"treatment"},{"text":"medicine"},{"text":"Computer
        Assisted Theragnostics CAT"},{"text":"radiotherapy"}],"institutions":[{"name":"Maastro
        clinic, Medical Informatics and Knowledge Engineering team","nameLanguage":"eng","country":"NLD","type":"commercial","url":"http://www.maastro.nl/en/1/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"Maastricht
        Radiation Oncology clinic, MIKE","language":"eng"},{"text":"MIKE","language":"eng"}],"responsibilityTypes":[{"text":"general"},{"text":"technical"},{"text":"funding"}],"identifiers":[],"contacts":[{"text":"http://www.maastro.nl/en/1/248/adress-information.aspx"}]}],"dataAccesses":[{"type":"open","restrictions":[]},{"type":"restricted","restrictions":[{"text":"registration"}]},{"type":"closed","restrictions":[]}],"dataUploads":[{"type":"restricted","restrictions":[{"text":"registration"}]}],"dataUploadLicenses":[],"pidSystems":[{"text":"DOI"}],"apis":[{"url":"https://www.cancerdata.org/node/38","type":"other"},{"url":"https://www.cancerdata.org/oai","type":"OAI-PMH"},{"url":"http://mircwiki.rsna.org/index.php?title=CTP-The_RSNA_Clinical_Trial_Processor","type":"FTP"}],"software":[{"name":"other"}],"startDate":null,"endDate":null,"created":"2014-06-25T09:39:17Z","updated":"2016-01-18T14:54:33Z"}}}'
  recorded_at: Sun, 16 Jun 2019 10:46:32 GMT
recorded_with: VCR 3.0.3
