---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events/03f5743e-089e-4163-a406-f6529e81e422
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"a38405983bc601a09fc216dd941827f8"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"03f5743e-089e-4163-a406-f6529e81e422","type":"events","attributes":{"subjId":"https://api.datacite.org/reports/21fd2e8e-5481-4bbd-b2ef-742d8b270a66","objId":"https://doi.org/10.7272/q6z60kzd","sourceId":"datacite-usage","relationTypeId":"total-dataset-investigations-regular","total":23164,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-04-30T00:00:00.000Z","timestamp":"2018-09-07T14:50:02.889Z"},"relationships":{"subj":{"data":{"id":"https://api.datacite.org/reports/21fd2e8e-5481-4bbd-b2ef-742d8b270a66","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.7272/q6z60kzd","type":"objects"}}}}}'
  recorded_at: Mon, 06 May 2019 20:55:35 GMT
recorded_with: VCR 3.0.3
