---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations?query=%22xxx%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 26c66bc9-1b4f-4655-a981-05c5f10c88ed
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Amzn-Remapped-Content-Length:
      - '114'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - RdAYJGOujoEEZzA=
      X-Amzn-Remapped-Server:
      - nginx/1.18.0 + Phusion Passenger 6.0.7
      Status:
      - 200 OK
      X-Amzn-Remapped-Date:
      - Thu, 25 Sep 2025 10:06:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":1,"items":[],"meta":{"types":[],"countries":[],"continents":[],"statuses":[]}}'
  recorded_at: Thu, 25 Sep 2025 10:06:43 GMT
recorded_with: VCR 6.2.0
