---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=%22xxx%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":8,"items":[],"meta":{"types":[],"countries":[]}}'
  recorded_at: Sat, 31 Oct 2020 10:27:23 GMT
recorded_with: VCR 5.1.0
