---
http_interactions:
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles?pageSize=0&prefix=10.5081
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"prefix":"10.5081","totalCount":"449","handles":["10.5081/0000-00SS","10.5081/0000-01HC","10.5081/0000-03VC","10.5081/0001","10.5081/0002","10.5081/0003","10.5081/0004","10.5081/0005","10.5081/0006","10.5081/0007","10.5081/0007-NW90","10.5081/0010","10.5081/0012","10.5081/022J-CC0M","10.5081/02BH-TGC7","10.5081/045S-EC11","10.5081/08A0-3F64","10.5081/08H0-8MQY","10.5081/09C3-4V7S","10.5081/0DPB-24DR","10.5081/0DW9-MPAF","10.5081/0JGW-B795","10.5081/0MAE-2Y7~","10.5081/0Q0J-AJHF","10.5081/0QCA-V2AP","10.5081/0QS4-A3G0","10.5081/0S9T-VT1H","10.[...]
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles?page=0&pageSize=1000&prefix=10.5081
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"prefix":"10.5081","totalCount":"449","page":0,"pageSize":1000,"handles":["10.5081/0000-00SS","10.5081/0000-01HC","10.5081/0000-03VC","10.5081/0001","10.5081/0002","10.5081/0003","10.5081/0004","10.5081/0005","10.5081/0006","10.5081/0007","10.5081/0007-NW90","10.5081/0010","10.5081/0012","10.5081/022J-CC0M","10.5081/02BH-TGC7","10.5081/045S-EC11","10.5081/08A0-3F64","10.5081/08H0-8MQY","10.5081/09C3-4V7S","10.5081/0DPB-24DR","10.5081/0DW9-MPAF","10.5081/0JGW-B795","10.5081/0MAE-2Y7~","10.5081/0Q0J-AJHF","10.5081/0QCA-V2AP","10.5081/0QS4-A3G0","10.5081/[...]
