---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=0&query=dfg&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":25,"query":{"start-index":0,"search-terms":"dfg"},"total-results":3,"items":[{"id":"100004875","location":"United
        States","name":"Massachusetts Department of Fish and Game","alt-names":["Massachusetts
        Fish & Game Department","Department of Fish and Game","DFG","The Department
        of Fish and Game","MassDFG"],"uri":"http:\/\/dx.doi.org\/10.13039\/100004875","replaces":[],"replaced-by":[],"tokens":["massachusetts","department","of","fish","and","game","massachusetts","fish","&","and","game","department","department","of","fish","and","game","dfg","the","department","of","fish","and","game","massdfg"]},{"id":"100004807","location":"United
        States","name":"California Department of Fish and Game","alt-names":["DFG"],"uri":"http:\/\/dx.doi.org\/10.13039\/100004807","replaces":[],"replaced-by":[],"tokens":["california","department","of","fish","and","game","dfg"]},{"id":"501100001659","location":"Germany","name":"Deutsche
        Forschungsgemeinschaft","alt-names":["German Research Association","DFG"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100001659","replaces":[],"replaced-by":[],"tokens":["deutsche","forschungsgemeinschaft","german","research","association","dfg"]}]}}'
  recorded_at: Mon, 13 Jul 2020 12:18:42 GMT
recorded_with: VCR 5.1.0
