---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":10,"query":{"start-index":0,"search-terms":null},"total-results":19662,"items":[{"id":"100002569","location":"United
        States","name":"American Association of Endodontists Foundation","alt-names":["AAE
        Foundation for Endodontics","AAE Foundation","Foundation for Endodontics","AAEF"],"uri":"http:\/\/dx.doi.org\/10.13039\/100002569","replaces":[],"replaced-by":[],"tokens":["american","association","of","endodontists","foundation","aae","foundation","for","endodontics","aae","foundation","foundation","for","endodontics","aaef"]},{"id":"501100009402","location":null,"name":"Mekelle
        University","alt-names":["MU"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100009402","replaces":[],"replaced-by":[],"tokens":["mekelle","university","mu"]},{"id":"501100010240","location":"China","name":"National
        Planning Office of Philosophy and Social Science","alt-names"[...]
