---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?query=xxx&rows=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":100,"query":{"start-index":0,"search-terms":"xxx"},"total-results":0,"items":[]}}'
  recorded_at: Sun, 05 May 2019 05:40:37 GMT
recorded_with: VCR 3.0.3
