---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=0&query=xxxxx&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":25,"query":{"start-index":0,"search-terms":"xxxxx"},"total-results":0,"items":[]}}'
  recorded_at: Mon, 13 Jul 2020 12:18:41 GMT
recorded_with: VCR 5.1.0
