---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=%22grid.417434.1%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":5,"items":[{"id":"https://ror.org/0521rfb23","name":"Lincoln
        University - Pennsylvania","types":["Education"],"links":["http://www.lincoln.edu/"],"aliases":["Ashmun
        Institute"],"acronyms":["LU"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Lincoln_University_(Pennsylvania)","labels":[{"label":"Universidad
        Lincoln","iso639":"es"}],"country":{"country_name":"United States","country_code":"US"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0420 5871"]},"FundRef":{"preferred":null,"all":["100007032"]},"OrgRef":{"preferred":null,"all":["833671"]},"Wikidata":{"preferred":null,"all":["Q4570781"]},"GRID":{"preferred":"grid.417434.1","all":"grid.417434.1"}}}],"meta":{"types":[{"id":"education","title":"Education","count":1}],"countries":[{"id":"us","title":"United
        States of America","count":1}]}}'
  recorded_at: Wed, 02 Sep 2020 18:19:10 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q4570781&languages=en&props=labels%7Cdescriptions%7Cclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 87.155.5.120
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q4570781":{"type":"item","id":"Q4570781","labels":{"en":{"language":"en","value":"Lincoln
        University"}},"descriptions":{"en":{"language":"en","value":"university in
        Pennsylvania"}},"claims":{"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"ac4118ab62ad098b4063eebfdf68b1a6bb1cd38c","datavalue":{"value":"Lincoln
        University (Pennsylvania)","type":"string"},"datatype":"string"},"type":"statement","id":"q4570781$3152A276-082E-438D-A5C0-8EC9BE0DB6B5","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"482db304b57e4b3a7a5b3a6e2256db7c639c49b0","datavalue":{"value":{"entity-type":"item","numeric-id":3918,"id":"Q3918"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q4570781$b8e9ebd9-4891-a9fa-0825-3408de1443b7","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P31","hash":"ce29ffcb5c333150df535203e0ae864ae27b88b5","datavalue":{"value":{"entity-type":"item","numeric-id":1620945,"id":"Q1620945"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4570781$FDADE638-6877-4208-BE42-029E92EDB95A","rank":"normal","references":[{"hash":"3a898e189b5a0c811a5d4ee8eeab4639efe4b6e1","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"de023d0250f2da0b78b75da8b0d774c678641334","datavalue":{"value":{"entity-type":"item","numeric-id":6042926,"id":"Q6042926"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]},{"mainsnak":{"snaktype":"value","property":"P31","hash":"f86cd0813c2de2adf2f7ff53830e2169f779851a","datavalue":{"value":{"entity-type":"item","numeric-id":23002039,"id":"Q23002039"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4570781$C9111815-CDE7-4323-8C05-CFC7832B2020","rank":"normal","references":[{"hash":"3a898e189b5a0c811a5d4ee8eeab4639efe4b6e1","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"de023d0250f2da0b78b75da8b0d774c678641334","datavalue":{"value":{"entity-type":"item","numeric-id":6042926,"id":"Q6042926"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P625":[{"mainsnak":{"snaktype":"value","property":"P625","hash":"0576230c382126bec34af9bf333e9abb1ec58756","datavalue":{"value":{"latitude":39.808333333333,"longitude":-75.927777777778,"altitude":null,"precision":null,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"},"datatype":"globe-coordinate"},"type":"statement","id":"q4570781$67F48F10-42EC-40FB-9EDD-38FE3B3C4F00","rank":"normal"}],"P910":[{"mainsnak":{"snaktype":"value","property":"P910","hash":"2c0dc3a7d73bda9fa354d286c992bfc6d8b0a316","datavalue":{"value":{"entity-type":"item","numeric-id":10225880,"id":"Q10225880"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4570781$BAF35E21-DB6B-43E2-97AD-3F0B3A214E10","rank":"normal"}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","hash":"5afed479161b80e0cbaec7a825c988185e5e3c42","datavalue":{"value":"/m/03fmfs","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q4570781$E834D9B4-593E-4F17-B31B-53DF71F870AD","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a94b740202b097dd33355e0e6c00e54b9395e5e0","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","hash":"fde79ecb015112d2f29229ccc1ec514ed3e71fa2","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P1566":[{"mainsnak":{"snaktype":"value","property":"P1566","hash":"33794b7810918a44f1ed5722ffddda91fbea0570","datavalue":{"value":"4559217","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q4570781$75493575-3194-4300-B38D-3A5C419D662F","rank":"normal","references":[{"hash":"88694a0f4d1486770c269f7db16a1982f74da69d","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"1b3ef912a2bd61e18dd43abd184337eb010b2e96","datavalue":{"value":{"entity-type":"item","numeric-id":830106,"id":"Q830106"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P1771":[{"mainsnak":{"snaktype":"value","property":"P1771","hash":"d5b169af7b7ba0edf1b9b648bfb85f14fead0678","datavalue":{"value":"213598","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q4570781$987EC74D-AB29-4812-B8EE-84EC278BACC2","rank":"normal","references":[{"hash":"cfc3fc925ddc31f71c67244753346f9fca7ab7d7","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a94b740202b097dd33355e0e6c00e54b9395e5e0","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","hash":"be4c6eafa2984964f04be85667263f5642ba1a72","datavalue":{"value":{"entity-type":"item","numeric-id":30,"id":"Q30"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4570781$B853FDD8-4CA4-4AB4-AF94-BB3AE15EBAC7","rank":"normal","references":[{"hash":"c456dc5cd2117249948c288206ff3f8b1bf574f0","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e17507043402fe54ae6c4d65cc51f46cec987de9","datavalue":{"value":{"entity-type":"item","numeric-id":8449,"id":"Q8449"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P281":[{"mainsnak":{"snaktype":"value","property":"P281","hash":"8a32c2349c71c00afae0350a5819d4b370671333","datavalue":{"value":"19352-0999","type":"string"},"datatype":"string"},"type":"statement","id":"Q4570781$40B188BA-49E6-427F-9E0D-3E09419E7AB9","rank":"normal","references":[{"hash":"3a898e189b5a0c811a5d4ee8eeab4639efe4b6e1","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"de023d0250f2da0b78b75da8b0d774c678641334","datavalue":{"value":{"entity-type":"item","numeric-id":6042926,"id":"Q6042926"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","hash":"96858bd578cb120fe961f2f317f671c2735daad2","datavalue":{"value":"http://www.lincoln.edu","type":"string"},"datatype":"url"},"type":"statement","qualifiers":{"P407":[{"snaktype":"value","property":"P407","hash":"daf1c4fcb58181b02dff9cc89deb084004ddae4b","datavalue":{"value":{"entity-type":"item","numeric-id":1860,"id":"Q1860"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P407"],"id":"Q4570781$A8E7E915-181C-423A-9C0F-4B4CA6F059E8","rank":"normal","references":[{"hash":"3a898e189b5a0c811a5d4ee8eeab4639efe4b6e1","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"de023d0250f2da0b78b75da8b0d774c678641334","datavalue":{"value":{"entity-type":"item","numeric-id":6042926,"id":"Q6042926"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P138":[{"mainsnak":{"snaktype":"value","property":"P138","hash":"56c8d7a15875e1f980765cc144cb834f59c4fa39","datavalue":{"value":{"entity-type":"item","numeric-id":91,"id":"Q91"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4570781$07961679-45ec-83c1-3405-d32513f7a601","rank":"normal"}],"P2643":[{"mainsnak":{"snaktype":"value","property":"P2643","hash":"3e548e99637010f6640ff754ccc6390de4e4f918","datavalue":{"value":{"entity-type":"item","numeric-id":23335494,"id":"Q23335494"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q4570781$7B5B8BF0-D179-47C3-BB60-075331563592","rank":"normal","references":[{"hash":"0c1a8ae6ad3b8fb4f373c533150355a20f759090","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"46652cd7969b7b2eb09c38cb36bf2d2effe4ae5a","[...]
- request:
    method: get
    uri: https://api.ror.org/v1/organizations?query=%22grid.417434.1%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":7,"items":[{"id":"https://ror.org/0521rfb23","name":"Lincoln
        University - Pennsylvania","email_address":null,"ip_addresses":[],"established":1854,"types":["Education","Funder"],"relationships":[],"addresses":[{"lat":39.78539,"lng":-75.97883,"state":null,"state_code":null,"city":"Oxford","geonames_city":{"id":4560185,"city":"Oxford","geonames_admin1":{"name":"Pennsylvania","id":null,"ascii_name":null,"code":"US.PA"},"geonames_admin2":{"name":null,"id":null,"ascii_name":null,"code":null},"license":{"attribution":"Data
        from geonames.org under a CC-BY 3.0 license","license":"http://creativecommons.org/licenses/by/3.0/"},"nuts_level1":{"name":null,"code":null},"nuts_level2":{"name":null,"code":null},"nuts_level3":{"name":null,"code":null}},"postcode":null,"primary":false,"line":null,"country_geonames_id":null}],"links":["http://www.lincoln.edu/"],"aliases":["Ashmun
        Institute"],"acronyms":["LU"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Lincoln_University_(Pennsylvania)","labels":[{"label":"Universidad
        Lincoln","iso639":"es"}],"country":{"country_name":"United States","country_code":"US"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0420 5871"]},"FundRef":{"preferred":null,"all":["100007032"]},"Wikidata":{"preferred":null,"all":["Q4570781"]},"GRID":{"preferred":"grid.417434.1","all":"grid.417434.1"}}}],"meta":{"types":[{"id":"education","title":"Education","count":1},{"id":"funder","title":"Funder","count":1}],"countries":[{"id":"us","title":"United
        States","count":1}],"statuses":[{"id":"active","title":"active","count":1}]}}'
  recorded_at: Fri, 11 Jul 2025 08:27:58 GMT
recorded_with: VCR 6.2.0
