---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=%22grid.487335.e%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":5,"items":[{"id":"https://ror.org/02q0ygf45","name":"OBS
        Medical (United Kingdom)","types":["Company"],"links":["http://www.obsmedical.com/"],"aliases":["Oxford
        BioSignals"],"acronyms":[],"status":"active","wikipedia_url":"","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0398 7680"]},"GRID":{"preferred":"grid.487335.e","all":"grid.487335.e"}}}],"meta":{"types":[{"id":"company","title":"Company","count":1}],"countries":[{"id":"gb","title":"United
        Kingdom of Great Britain and Northern Ireland","count":1}]}}'
  recorded_at: Wed, 02 Sep 2020 18:20:25 GMT
recorded_with: VCR 5.1.0
