---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations?query=%22grid.487335.e%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 10fa4355-a4a5-48f9-8dec-ef9b0e701c7b
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Amzn-Remapped-Content-Length:
      - '1179'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Rc-McH33joEES1Q=
      X-Amzn-Remapped-Server:
      - nginx/1.18.0 + Phusion Passenger 6.0.7
      Status:
      - 200 OK
      X-Amzn-Remapped-Date:
      - Thu, 25 Sep 2025 09:51:49 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":5,"items":[{"admin":{"created":{"date":"2018-11-14","schema_version":"1.0"},"last_modified":{"date":"2024-12-11","schema_version":"2.1"}},"domains":[],"established":2000,"external_ids":[{"all":["grid.487335.e"],"preferred":"grid.487335.e","type":"grid"},{"all":["0000
        0004 0398 7680"],"preferred":null,"type":"isni"}],"id":"https://ror.org/02q0ygf45","links":[{"type":"website","value":"http://www.obsmedical.com/"}],"locations":[{"geonames_details":{"continent_code":"EU","continent_name":"Europe","country_code":"GB","country_name":"United
        Kingdom","country_subdivision_code":"ENG","country_subdivision_name":"England","lat":51.67109,"lng":-1.28278,"name":"Abingdon"},"geonames_id":2657780}],"names":[{"lang":null,"types":["ror_display","label"],"value":"OBS
        Medical (United Kingdom)"},{"lang":null,"types":["alias"],"value":"Oxford
        BioSignals"}],"relationships":[],"status":"active","types":["company"]}],"meta":{"types":[{"id":"company","title":"company","count":1}],"countries":[{"id":"gb","title":"United
        Kingdom","count":1}],"continents":[{"id":"eu","title":"Europe","count":1}],"statuses":[{"id":"active","title":"active","count":1}]}}'
  recorded_at: Thu, 25 Sep 2025 09:51:49 GMT
recorded_with: VCR 6.2.0
