---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=%22grid.487335.e%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":5,"items":[{"id":"https://ror.org/02q0ygf45","name":"OBS
        Medical (United Kingdom)","types":["Company"],"links":["http://www.obsmedical.com/"],"aliases":["Oxford
        BioSignals"],"acronyms":[],"status":"active","wikipedia_url":"","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0398 7680"]},"GRID":{"preferred":"grid.487335.e","all":"grid.487335.e"}}}],"meta":{"types":[{"id":"company","title":"Company","count":1}],"countries":[{"id":"gb","title":"United
        Kingdom of Great Britain and Northern Ireland","count":1}]}}'
  recorded_at: Wed, 02 Sep 2020 18:20:25 GMT
- request:
    method: get
    uri: https://api.ror.org/v1/organizations?query=%22grid.487335.e%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":8,"items":[{"id":"https://ror.org/02q0ygf45","name":"OBS
        Medical (United Kingdom)","email_address":null,"ip_addresses":[],"established":2000,"types":["Company"],"relationships":[],"addresses":[{"lat":51.67109,"lng":-1.28278,"state":null,"state_code":null,"city":"Abingdon","geonames_city":{"id":2657780,"city":"Abingdon","geonames_admin1":{"name":"England","id":null,"ascii_name":null,"code":"GB.ENG"},"geonames_admin2":{"name":null,"id":null,"ascii_name":null,"code":null},"license":{"attribution":"Data
        from geonames.org under a CC-BY 3.0 license","license":"http://creativecommons.org/licenses/by/3.0/"},"nuts_level1":{"name":null,"code":null},"nuts_level2":{"name":null,"code":null},"nuts_level3":{"name":null,"code":null}},"postcode":null,"primary":false,"line":null,"country_geonames_id":null}],"links":["http://www.obsmedical.com/"],"aliases":["Oxford
        BioSignals"],"acronyms":[],"status":"active","wikipedia_url":null,"labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0398 7680"]},"GRID":{"preferred":"grid.487335.e","all":"grid.487335.e"}}}],"meta":{"types":[{"id":"company","title":"Company","count":1}],"countries":[{"id":"gb","title":"United
        Kingdom","count":1}],"statuses":[{"id":"active","title":"active","count":1}]}}'
  recorded_at: Fri, 11 Jul 2025 08:28:08 GMT
recorded_with: VCR 6.2.0
