---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=%22grid.ac/institutes/xxx%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":5,"items":[],"meta":{"types":[],"countries":[]}}'
  recorded_at: Wed, 02 Sep 2020 18:27:30 GMT
- request:
    method: get
    uri: https://api.ror.org/v1/organizations?query=%22grid.ac/institutes/xxx%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":2,"items":[],"meta":{"types":[],"countries":[],"statuses":[]}}'
  recorded_at: Fri, 11 Jul 2025 08:28:04 GMT
recorded_with: VCR 6.2.0
