---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations?query=%22grid.ac/institutes/xxx%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b3d6dc0f-f469-4986-8148-ae8e9b4f102b
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Amzn-Remapped-Content-Length:
      - '114'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Rc-OqEmXDoEEg0Q=
      X-Amzn-Remapped-Server:
      - nginx/1.18.0 + Phusion Passenger 6.0.7
      Status:
      - 200 OK
      X-Amzn-Remapped-Date:
      - Thu, 25 Sep 2025 09:52:03 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":4,"items":[],"meta":{"types":[],"countries":[],"continents":[],"statuses":[]}}'
  recorded_at: Thu, 25 Sep 2025 09:52:04 GMT
recorded_with: VCR 6.2.0
