---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/repositories?query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"25238a8876f26f0b17aa45c052954e12"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.datacite.org/repositories?query=xxx"}}'
  recorded_at: Sun, 16 Jun 2019 10:12:27 GMT
recorded_with: VCR 3.0.3
