---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/expanded-search/?q=container.identifier:2658-719X&rows=25&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response-code":500,"developer-message":"org.apache.solr.client.solrj.impl.HttpSolrClient.RemoteSolrException
        Full validation error: Error from server at http://solr-8-loc.orcid.org:8983/solr/profile:
        undefined field container.identifier","user-message":"Something went wrong
        in ORCID.","error-code":9008,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
  recorded_at: Wed, 02 Sep 2020 11:23:39 GMT
recorded_with: VCR 5.1.0
