---
http_interactions:
- request:
    method: post
    uri: https://citation.crosscite.org/format?locale=en-US&style=apa
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "report",
          "id": "https://handle.test.datacite.org/10.4122/emdiwwtbu2mjgzhd",
          "categories": [
            "datacite",
            "doi",
            "metadata"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2016,
                12,
                20
              ]
            ]
          },
          "submitted": {
            "date_parts": [
              [

              ]
            ]
          },
          "abstract": "Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...",
          "DOI": "10.4122/EMDIWWTBU2MJGZHD",
          "publisher": "DataCite",
          "title": "Eating your own Dog Food",
          "URL": "http://kuvalisbrown.com/santino",
          "version": 0
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: 'Fenner, M. (2016). Eating your own Dog Food (Version). DataCite. https://doi.org/10.4122/EMDIWWTBU2MJGZHD

'
  recorded_at: Thu, 15 Mar 2018 09:08:58 GMT
recorded_with: VCR 3.0.3
