---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?defType=edismax&q=10.3886/ICPSR36357.V1&qf=doi&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":0,"start":0,"docs":[]}}

'
  recorded_at: Fri, 10 Nov 2017 15:49:53 GMT
recorded_with: VCR 3.0.3
