---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/10703
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://www.bl.uk/pdf/patspec.pdf"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="node0ybve8yi2wc00135eu505baqjp152",
        nonce="RHpCn+UfS/YHdn4SE31FMw==", error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 27 Jan 2025 17:55:33 GMT
recorded_with: VCR 6.2.0
