---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-7701-701X/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":null,"name":{"created-date":{"value":1511861313087},"last-modified-date":{"value":1511861313309},"given-names":{"value":"Rory"},"family-name":{"value":"O''Bryen"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0001-7701-701X"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-7701-701X/other-names"},"biography":null,"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0001-7701-701X/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0001-7701-701X/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0001-7701-701X/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-7701-701X/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-7701-701X/external-identifiers"},"path":"/0000-0001-7701-701X/person"}'
  recorded_at: Tue, 08 Sep 2020 08:16:42 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-7701-701X/employments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1511861690547},"affiliation-group":[{"last-modified-date":{"value":1511861690547},"external-ids":{"external-id":[]},"summaries":[{"employment-summary":{"created-date":{"value":1511861690547},"last-modified-date":{"value":1511861690547},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-7701-701X","path":"0000-0001-7701-701X","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Rory
        O''Bryen"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":4977986,"department-name":"Faculty
        of Modern and Medieval Languages","role-title":"Senior Lecturer in Latin American
        Literature and Culture","start-date":{"year":{"value":"2006"},"month":null,"day":null},"end-date":null,"organization":{"name":"University
        of Cambridge","address":{"city":"Cambridge ","region":"Cambridgeshire ","country":"GB"},"disambiguated-organization":{"disambiguated-organization-identifier":"2152","disambiguation-source":"RINGGOLD"}},"url":null,"external-ids":null,"display-index":"0","visibility":"public","path":"/0000-0001-7701-701X/employment/4977986"}}]}],"path":"/0000-0001-7701-701X/employments"}'
  recorded_at: Tue, 08 Sep 2020 08:16:42 GMT
recorded_with: VCR 5.1.0
