---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-7701-701X/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":null,"name":{"created-date":{"value":1511861313087},"last-modified-date":{"value":1511861313309},"given-names":{"value":"Rory"},"family-name":{"value":"O''Bryen"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0001-7701-701X"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-7701-701X/other-names"},"biography":null,"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0001-7701-701X/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0001-7701-701X/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0001-7701-701X/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-7701-701X/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-7701-701X/external-identifiers"},"path":"/0000-0001-7701-701X/person"}'
  recorded_at: Mon, 13 Jul 2020 12:22:05 GMT
recorded_with: VCR 5.1.0
