---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=8&query=national&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":10,"query":{"start-index":8,"search-terms":"national"},"total-results":1100,"items":[{"id":"100008725","location":"Uruguay","name":"Agencia
        Nacional de Investigaci\u00f3n e Innovaci\u00f3n","alt-names":["ANII","Ag\u00eancia
        Nacional para a Investiga\u00e7\u00e3o e Inova\u00e7\u00e3o","National Agency
        for Research and Innovation"],"uri":"http:\/\/dx.doi.org\/10.13039\/100008725","replaces":[],"replaced-by":[],"tokens":["agencia","nacional","de","investigaci\u00f3n","e","innovaci\u00f3n","anii","ag\u00eancia","nacional","para","a","investiga\u00e7\u00e3o","e","inova\u00e7\u00e3o","national","agency","for","research","and","innovation"]},{"id":"100015322","location":"Japan","name":"National
        Cancer Center Japan","alt-names":["NCC"],"uri":"http:\/\/dx.doi.org\/10.13039\/100015322","replaces":[],"replaced-by":[],"tokens":["national","cancer","center","japan","ncc"]},{"id":"501100008790","location":"India",[...]
