---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=8&query=national&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":10,"query":{"start-index":8,"search-terms":"national"},"total-results":1144,"items":[{"id":"100014368","location":"United
        States","name":"National Sporting Library and Museum","alt-names":["NSLM","National
        Sporting Library & Museum"],"uri":"http:\/\/dx.doi.org\/10.13039\/100014368","replaces":[],"replaced-by":[],"tokens":["national","sporting","library","and","museum","nslm","national","sporting","library","&","and","museum"]},{"id":"100013902","location":"United
        States","name":"National Council of State Boards of Nursing","alt-names":["National
        Council of State Boards of Nursing, Inc.","NCSBN"],"uri":"http:\/\/dx.doi.org\/10.13039\/100013902","replaces":[],"replaced-by":[],"tokens":["national","council","of","state","boards","of","nursing","national","council","of","state","boards","of","nursing[...]
