---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=8&query=national&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":10,"query":{"start-index":8,"search-terms":"national"},"total-results":1144,"items":[{"id":"100000051","location":"United
        States","name":"National Human Genome Research Institute","alt-names":["NHGRI"],"uri":"http:\/\/dx.doi.org\/10.13039\/100000051","replaces":[],"replaced-by":[],"tokens":["national","human","genome","research","institute","nhgri"]},{"id":"100008667","location":"United
        Kingdom","name":"National Cancer Research Institute","alt-names":["NCRI"],"uri":"http:\/\/dx.doi.org\/10.13039\/100008667","replaces":[],"replaced-by":[],"tokens":["national","cancer","research","institute","ncri"]},{"id":"501100012263","location":"India","name":"National
        Institute of Industrial Engineering","alt-names":["NITIE"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100012263","[...]
