---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=0&query=national&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":25,"query":{"start-index":0,"search-terms":"national"},"total-results":1028,"items":[{"id":"501100007868","location":null,"name":"Secretar\u00eda
        de Ciencia y T\u00e9cnica, Universidad Nacional de R\u00edo Cuarto","alt-names":["UNRC
        Secretar\u00eda de Ciencia y T\u00e9cnica","SECyT","SeCyt, UNRC","Secretary
        Research and Technology, National University of R\u00edo Cuarto","Secretar\u00eda
        de Ciencia y T\u00e9cnica UNRC"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100007868","replaces":[],"replaced-by":[],"tokens":["secretar\u00eda","de","ciencia","y","t\u00e9cnica","universidad","nacional","de","r\u00edo","cuarto","unrc","secretar\u00eda","de","ciencia","y","t\u00e9cnica","secyt","secyt","unrc","secretary","research","and","technology","national","university","of","r\u00edo","cuarto","secretar\u00eda","de","ciencia","y","t\u00e9cnica","unrc"]},{"id":"100003177","location":"United
        States","name":"National Kidney Foundation Serving Ohio and Kentucky","alt-names":[],"uri":"http:\/\/dx.doi.org\/10.13[...]
