---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":98332,"time_taken":8,"items":[{"id":"https://ror.org/027bk5v43","name":"Illinois
        Department of Public Health","types":["Government"],"links":["http://www.dph.illinois.gov/"],"aliases":[],"acronyms":["IDPH"],"status":"active","wikipedia_url":"https://en.wikipedia.org/wiki/Illinois_Department_of_Public_Health","labels":[],"country":{"country_name":"United
        States","country_code":"US"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0465 6701"]},"FundRef":{"preferred":null,"all":["100004888"]},"Wikidata":{"preferred":null,"all":["Q5999444"]},"GRID":{"preferred":"grid.280362.d","all":"grid.280362.d"}}},{"id":"https://ror.org/045rcvm30","name":"Kentucky
        Cabinet For Health and Family Services","types":["Government"],"links":["http://chfs.ky.gov/"],"aliases":[],"acronyms":["CHFS"],"status":"active","wikipedia_url":"","labels":[],"country":{"country_name":"United
        States","country_code":"US"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0509 1749"]},"GRID":{"preferred":"grid.280376.8","all":"grid.280376.8"}}[...]
