---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?filter=country.country_code:GB&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":7166,"time_taken":2,"items":[{"id":"https://ror.org/04jzmdh37","name":"Centre
        for Economic Policy Research","types":["Nonprofit"],"links":["http://www.cepr.org/"],"aliases":[],"acronyms":["CEPR"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Centre_for_Economic_Policy_Research","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0001 1954 7426"]},"Wikidata":{"preferred":null,"all":["Q380062"]},"GRID":{"preferred":"grid.410315.2","all":"grid.410315.2"}}},{"id":"https://ror.org/03r6k1a05","name":"Institute
        of Occupational Medicine","types":["Nonprofit"],"links":["http://www.iom-world.org/"],"aliases":[],"acronyms":["IOM"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Institute_of_Occupational_Medicine","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0001 2224 0230"]},"Wikidata":{"preferred":null,"all":["Q17163473"]},"GRID":{"preferred":"grid.410343.1","all":"grid.410343.1"}}},{"id":"https://ror.org/015w2mp89","name":"National
        Physical Laboratory","types":["Facility"],"links":["http://www.npl.co.uk/"],"aliases":[],"acronyms":["NPL"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/National_Physical_Laboratory_(United_Kingdom)","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0000 8991 6349"]},"OrgRef":{"preferred":null,"all":["250381"]},"Wikidata":{"preferred":null,"all":["Q1967606"]},"GRID":{"preferred":"grid.410351.2","all":"grid.410351.2"}}},{"id":"https://ror.org/04nm1cv11","name":"University
        Hospitals Bristol NHS Foundation Trust","types":["Healthcare"],"links":["http://www.uhbristol.nhs.uk/"],"aliases":[],"acronyms":[],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/University_Hospitals_Bristol_NHS_Foundation_Trust","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0380 7336"]},"OrgRef":{"preferred":null,"all":["40907549"]},"Wikidata":{"preferred":null,"all":["Q17028004"]},"GRID":{"preferred":"grid.410421.2","all":"grid.410421.2"}}},{"id":"https://ror.org/03h2bh287","name":"Oxford
        University Hospitals NHS Trust","types":["Healthcare"],"links":["http://www.ouh.nhs.uk/"],"aliases":[],"acronyms":[],"status":"active","wikipedia_url":"https://en.wikipedia.org/wiki/Oxford_University_Hospitals_NHS_Foundation_Trust","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0001 0440 1440"]},"FundRef":{"preferred":null,"all":["501100006149"]},"Wikidata":{"preferred":null,"all":["Q16976147"]},"GRID":{"preferred":"grid.410556.3","all":"grid.410556.3"}}},{"id":"https://ror.org/008j59125","name":"Aintree
        University Hospital","types":["Healthcare"],"links":["http://www.aintreehospital.nhs.uk/"],"aliases":["Fazakerley
        Hospital"],"acronyms":[],"status":"active","wikipedia_url":"","labels":[],"country":{"country_name":"United
        Kingdom","country_code":"GB"},"external_ids":{"GRID[...]
