---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?page=1&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":3,"items":[],"meta":{"types":[],"countries":[]}}'
  recorded_at: Mon, 13 Jul 2020 12:20:20 GMT
- request:
    method: get
    uri: https://api.ror.org/v1/organizations?page=1&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":2,"items":[],"meta":{"types":[],"countries":[],"statuses":[]}}'
  recorded_at: Fri, 11 Jul 2025 08:26:13 GMT
recorded_with: VCR 6.2.0
