---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations?page=1&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6360f1f1-9149-4c24-bc30-a9645ee372b6
      Allow:
      - GET, POST, HEAD, OPTIONS
      X-Amzn-Remapped-Content-Length:
      - '114'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - RdEGqHmgDoEEgJg=
      X-Amzn-Remapped-Server:
      - nginx/1.18.0 + Phusion Passenger 6.0.7
      Status:
      - 200 OK
      X-Amzn-Remapped-Date:
      - Thu, 25 Sep 2025 10:32:10 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":2,"items":[],"meta":{"types":[],"countries":[],"continents":[],"statuses":[]}}'
  recorded_at: Thu, 25 Sep 2025 10:32:10 GMT
recorded_with: VCR 6.2.0
