---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?qp=true&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "number_of_results": 0,
          "time_taken": 3,
          "items": [

          ],
          "meta": {
            "types": null,
            "countries": null
          }
        }
  recorded_at: Sun, 05 May 2019 11:19:00 GMT
recorded_with: VCR 3.0.3
