---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?page=1&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":0,"time_taken":9,"items":[],"meta":{"types":[],"countries":[]}}'
  recorded_at: Mon, 11 May 2020 16:51:37 GMT
recorded_with: VCR 5.1.0
