---
http_interactions:
- request:
    method: get
    uri: https://profiles.test.datacite.org/api/flipper/features/delete_doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <VOLPINO_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"1a819802b061706cd3cdd8e2847d7e04"
    body:
      encoding: UTF-8
      string: '{"key":"delete_doi","state":"conditional","gates":[{"key":"boolean","name":"boolean","value":null},{"key":"groups","name":"group","value":["staff"]},{"key":"actors","name":"actor","value":[]},{"key":"percentage_of_actors","name":"percentage_of_actors","value":null},{"key":"percentage_of_time","name":"percentage_of_time","value":null}]}'
  recorded_at: Sat, 13 Jan 2018 12:41:05 GMT
recorded_with: VCR 3.0.3
