---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=2&query=Wellcome%20Trust&rows=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":30,"query":{"start-index":2,"search-terms":"Wellcome
        Trust"},"total-results":4,"items":[{"id":"100010269","location":"United Kingdom","name":"Wellcome
        Trust","alt-names":["The Wellcome Trust","WT","Wellcome"],"uri":"http:\/\/dx.doi.org\/10.13039\/100010269","replaces":[],"replaced-by":[],"tokens":["wellcome","trust","the","wellcome","trust","wt","wellcome"]},{"id":"501100013372","location":"United
        Kingdom","name":"Wellcome Trust Centre for Mitochondrial Research","alt-names":["WCMR"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100013372","replaces":[],"replaced-by":[],"tokens":["wellcome","trust","centre","for","mitochondrial","research","wcmr"]}]}}'
  recorded_at: Mon, 13 Jul 2020 12:21:54 GMT
recorded_with: VCR 5.1.0
