---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders?offset=0&query=Wellcome%20Trust&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder-list","message-version":"1.0.0","message":{"items-per-page":25,"query":{"start-index":0,"search-terms":"Wellcome
        Trust"},"total-results":4,"items":[{"id":"501100009053","location":null,"name":"The
        Wellcome Trust DBT India Alliance","alt-names":["India Alliance","WTDBT India
        Alliance","Wellcome Trust\/DBT India Alliance","Wellcome Trust DBt India Alliance"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100009053","replaces":[],"replaced-by":[],"tokens":["the","wellcome","trust","dbt","india","alliance","india","alliance","wtdbt","india","alliance","wellcome","trust\/dbt","india","alliance","wellcome","trust","dbt","india","alliance"]},{"id":"501100013372","location":"United
        Kingdom","name":"Wellcome Trust Centre for Mitochondrial Research","alt-names":["WCMR"],"uri":"http:\/\/dx.doi.org\/10.13039\/501100013372","replaces":[],"replaced-by":[],"tokens":["wellcome","trust","centre","for","mitochondrial","research","wcmr"]},{"id":"100004440","location":"United
        Kingdom","name":"Wellcome Trust","alt-names":["Wellcome"],"uri":"http:\/\/dx.doi.org\/10.13039\/100004440","replaces":[],"replaced-by":["100010269"],"tokens":["wellcome","trust","wellcome"]},{"id":"100010269","location":"United
        Kingdom","name":"Wellcome Trust","alt-names":["Wellcome","WT"],"uri":"http:\/\/dx.doi.org\/10.13039\/100010269","replaces":[],"replaced-by":[],"tokens":["wellcome","trust","wellcome","wt"]}]}}'
  recorded_at: Tue, 12 May 2020 05:04:37 GMT
recorded_with: VCR 5.1.0
