---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/re3data/10.17616/xxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2797d2ad021f57ce1661acc590b2ab10"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.17616/R3DS4Z","type":"re3data","attributes":{"re3dataId":"r3d100010590","repositoryName":"The
        Fish Database of Taiwan","repositoryUrl":"http://fishdb.sinica.edu.tw/","repositoryContacts":[],"description":"The
        Fish Database of Taiwan is a complex of research data for about 25 years to
        the Lab of Fish Ecology and Evolution, which is situated in Biodiversity Research
        Center of Academia Sinica.","repositoryLanguages":[{"text":"eng"},{"text":"zho"}],"certificates":[{"text":"WDS"}],"types":[{"text":"institutional"}],"additionalNames":[],"subjects":[{"text":"2
        Life Sciences","scheme":"DFG"},{"text":"203 Zoology","scheme":"DFG"},{"text":"20303
        Animal Ecology, Biodiversity and Ecosystem Research","scheme":"DFG"},{"text":"21
        Biology","scheme":"DFG"}],"contentTypes":[{"text":"Standard office documents","scheme":"parse"},{"text":"Images","scheme":"parse"},{"text":"Structured
        graphics","scheme":"parse"},{"text":"Audiovisual data","scheme":"parse"},{"text":"other","scheme":"parse"}],"providerTypes":[{"text":"dataProvider"}],"keywords":[{"text":"fish"},{"text":"biodiversity"},{"text":"marine
        ecosystem"},{"text":"coral reefs"},{"text":"seafloor"},{"text":"sandy barrier
        lagoon"},{"text":"mangrove"},{"text":"x-rayed fishes"}],"institutions":[{"name":"Ministry
        of Science and Technology","nameLanguage":"eng","country":"TWN","type":"non-profit","url":"https://www.most.gov.tw/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"MOST","language":"eng"}],"responsibilityTypes":[{"text":"funding"},{"text":"sponsoring"}],"identifiers":[],"contacts":[{"text":"most@most.gov.tw"}]},{"name":"Academia
        Sinica, Biodiversity Research Center","nameLanguage":"eng","country":"TWN","type":"non-profit","url":"http://www.biodiv.tw/en/","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"BRCAS","language":"eng"}],"responsibilityTypes":[{"text":"general"},{"text":"technical"}],"identifiers":[],"contacts":[]},{"name":"Council
        of Agriculture, Executive Yuan R.O.C","nameLanguage":"eng","country":"TWN","type":"non-profit","url":"https://eng.coa.gov.tw/index.php","responsibilityStartDate":null,"responsibilityEndDate":null,"additionalNames":[{"text":"COA","language":"eng"}],"responsibilityTypes":[{"text":"funding"}],"identifiers":[],"contacts":[{"text":"coa@mail.coa.gov.tw"}]}],"dataAccesses":[{"type":"open","restrictions":[]}],"dataUploads":[{"type":"closed","restrictions":[]}],"dataUploadLicenses":[],"pidSystems":[{"text":"none"}],"apis":[],"software":[{"name":"unknown"}],"startDate":"1999","endDate":null,"created":"2014-01-23T09:39:16Z","updated":"2019-11-13T10:10:32Z"}}}'
  recorded_at: Mon, 13 Jul 2020 12:13:52 GMT
recorded_with: VCR 5.1.0
