---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/00000002
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"test_handle_user","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"https://example.org"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="node01myufoqoj8mpr1ohcdtpsrnmpd181",
        nonce="YFNJpUlh6uQlP/bZHjEukQ==", error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 25 Sep 2025 18:35:20 GMT
recorded_with: VCR 6.2.0
