---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/501100003987
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"501100000621":"Girton
        College, University of Cambridge","501100007552":"School of Clinical Medicine,
        University of Cambridge","501100000609":"Emmanuel College, University of Cambridge","501100000705":"School
        of the Biological Sciences, University of Cambridge","501100000602":"Department
        of Anglo-Saxon, Norse and Celtic, Faculty of English, University of Cambridge","501100008101":"St\u00a0Catharine''s
        College, University of Cambridge","501100000622":"Gonv[...]
