---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=miller
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"bca02083b79a966b2bb5c6e6e8aed4bd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"0000-0003-0175-443X","type":"users","attributes":{"givenNames":"Hajira","familyName":"Dambha-Miller","name":"Hajira
        Dambha-Miller","orcid":"https://orcid.org/0000-0003-0175-443X","github":null,"roleId":"user","isActive":false,"created":"2019-03-25T00:30:25.000Z","updated":"2019-03-25T00:30:36.000Z"},"relationships":{}},{"id":"0000-0002-1339-6249","type":"users","attributes":{"givenNames":"Hannah","familyName":"Gatz-Miller","name":"Hannah
        Gatz-Miller","orcid":"https://orcid.org/0000-0002-1339-6249","github":null,"roleId":"user","isActive":false,"created":"2017-07-27T18:06:10.000Z","updated":"2017-07-27T18:06:10.000Z"},"relationships":{}},{"id":"0000-0002-0052-8353","type":"users","attributes":{"givenNames":"Anne","familyName":"Hoover-Miller","name":"Anne
        Hoover-Miller","orcid":"https://orcid[...]
