---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"a27d091ee61bbe9e94a9e8ec64b088c1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.datacite.org/users?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026query=xxx"}}'
  recorded_at: Fri, 11 Oct 2019 11:23:50 GMT
recorded_with: VCR 3.0.3
