---
http_interactions:
- request:
    method: get
    uri: https://doi.org/api/handles/10.5438/8SYZ-YM47?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.5438/8SYZ-YM47","values":[{"index":1,"type":"URL","data":{"format":"string","value":"https://blog.datacite.org/welcome-helena-cousijn/"},"ttl":86400,"timestamp":"2018-07-29T23:57:59Z"}]}'
  recorded_at: Mon, 30 Jul 2018 18:48:02 GMT
recorded_with: VCR 3.0.3
