---
http_interactions:
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles/10.5438/FJ3W-0SHD?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.5438/FJ3W-0SHD","values":[{"index":1,"type":"URL","data":{"format":"string","value":"https://blog.datacite.org/data-driven-development/"},"ttl":86400,"timestamp":"2016-12-19T15:06:36Z"}]}'
  recorded_at: Wed, 26 Sep 2018 09:05:42 GMT
recorded_with: VCR 3.0.3
