---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"851b0e7ceba44a843a74dd9565328342"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"c8bcd46c-3433-47ac-b8db-d039ce346d65","type":"events","attributes":{"subjId":"https://doi.org/10.5281/zenodo.595698","objId":"https://doi.org/10.13039/501100000780","sourceId":"datacite-funder","relationTypeId":"is-funded-by","total":1,"messageAction":"create","sourceToken":"6be0ac24-f58c-4a9f-968a-5c69a1ec0e68","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-08-16T10:49:40.000Z","timestamp":"2018-09-02T01:50:16.165Z"},"relationships":{"subj":{"data":{"id":"https://doi.org/10.5281/zenodo.595698","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.13039/501100000780","type":"objects"}}}},{"id":"0fa5cba1-a516-4e75-85ca-bbd22e0c6d34","type":"events","attributes":{"subjId":"https://doi.org/10.15468/dl.rqn4fc","objId":"https://doi.org/10.15468/v8ljrw","sourceId":"datacite-related","relationTypeId":"references","total":1,"messageAction":"create","sourceToken":"29a9a478-518f-4cbd-a133-a0dcef63d547","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2015-05-25T15:23:01.000Z","timestamp"[...]
