---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?citation-type=Dataset-Funder&page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"eed63f336a48990aec458120f7bb0c17"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"28fa7d4f-60e0-4db8-8365-b19b1b9904e9","type":"events","attributes":{"subjId":"https://doi.org/10.23725/e9sa-1y49","objId":"https://doi.org/10.13039/100000050","sourceId":"datacite-funder","relationTypeId":"is-funded-by","total":1,"messageAction":"create","sourceToken":"6be0ac24-f58c-4a9f-968a-5c69a1ec0e68","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2019-02-25T09:01:28.000Z","timestamp":"2019-02-25T09:01:33.395Z"},"relationships":{"subj":{"data":{"id":"https://doi.org/10.23725/e9sa-1y49","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.13039/100000050","type":"objects"}}}},{"id":"fac24233-cdea-4fde-81b3-105178b49315","type":"events","attributes":{"subjId":"https://doi.org/10.1594/ieda/317072","objId":"https://doi.org/10.13039/100000001","sourceId":"datacite-funder","relationTypeId":"is-funded-by","total":1,"messageAction":"create","sourceToken":"6be0ac24-f58c-4a9f-968a-5c69a1ec0e68","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2019-02-25T09:01:03.000Z","timestam[...]
