---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?page%5Bsize%5D=100&source-id=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"9ae7fec0cc06e4d63f1bcd375a833f8c"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.datacite.org/events?page%5Bsize%5D=100&source-id=xxx"}}'
  recorded_at: Mon, 06 May 2019 21:14:44 GMT
recorded_with: VCR 3.0.3
