---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/events?obj-id=https://doi.org/10.7272/q6z60kzd&page%5Bsize%5D=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"1ecf55a0a98f9a24832b0448137cb503"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"758199db-95c9-4216-ae7a-70b9d00425d4","type":"events","attributes":{"subjId":"https://api.datacite.org/reports/08761bb6-f8d9-4d01-8012-fd21042fd71d","objId":"https://doi.org/10.7272/q6z60kzd","sourceId":"datacite-usage","relationTypeId":"total-dataset-investigations-regular","total":58,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1.0/","occurredAt":"2018-05-31T00:00:00.000Z","timestamp":"2018-09-05T20:03:51.000Z"},"relationships":{"subj":{"data":{"id":"https://api.datacite.org/reports/08761bb6-f8d9-4d01-8012-fd21042fd71d","type":"objects"}},"obj":{"data":{"id":"https://doi.org/10.7272/q6z60kzd","type":"objects"}}}},{"id":"de42c435-144d-4320-811c-bb66202dfaf3","type":"events","attributes":{"subjId":"https://api.datacite.org/reports/08761bb6-f8d9-4d01-8012-fd21042fd71d","objId":"https://doi.org/10.7272/q6z60kzd","sourceId":"datacite-usage","relationTypeId":"unique-dataset-investigations-regular","total":6,"messageAction":"create","sourceToken":"43ba99ae-5cf0-11e8-9c2d-fa7ae01bbebc","license":"https://creativecommons.org/publicdomain/zero/1[...]
