---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/4K3M-NYVG
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"https://figshare.com/articles/Additional_file_1_of_Contemporary_ancestor_Adaptive_divergence_from_standing_genetic_variation_in_Pacific_marine_threespine_stickleback/6839054/1"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="1x8ihfvka1ide19h19beg4hpid", nonce="pqu4I0HTdUd/XOG+mj9ogA==",
        error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 04 May 2022 14:31:56 GMT
recorded_with: VCR 5.1.0
