---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/4K3M-NYVG
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://www.bl.uk/pdf/pat.pdf"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="node0jpq58pljxzd91vdly5e1oc72o5",
        nonce="XJEPmnoCbjbSEdGkeuQcGQ==", error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 22 May 2025 13:11:35 GMT
recorded_with: VCR 6.2.0
