---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/10703
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"TEST/ADMIN","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://www.bl.uk/pdf/patspec.pdf"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.14454/10703"}'
  recorded_at: Tue, 27 Jan 2026 02:25:03 GMT
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/10703
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"TEST/ADMIN","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://www.bl.uk/pdf/patspec.pdf"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.14454/10703"}'
  recorded_at: Tue, 27 Jan 2026 02:25:03 GMT
recorded_with: VCR 6.2.0
