---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/0ETFA87K9P
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"https://datacite.org"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="7p994544etfxa4359dshzlch", nonce="quvgE7JRIL2S3KlH+PBiqg==",
        error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 04 May 2022 14:31:15 GMT
recorded_with: VCR 5.1.0
