---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/9ZWB-RB91
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"https://idea.library.drexel.edu/islandora/object/idea:9531"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="o2chbtlo20be1oq31ad5t3og4", nonce="AMrNXFwAIyM1nykWrPCxCQ==",
        error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 04 May 2022 14:14:47 GMT
recorded_with: VCR 5.1.0
