---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-1315-5960/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response-code":409,"developer-message":"409 Conflict: The ORCID record
        is locked and cannot be edited. ORCID https://orcid.org/0000-0003-1315-5960","user-message":"The
        ORCID record is locked.","error-code":9018,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
  recorded_at: Thu, 27 Aug 2020 16:28:00 GMT
recorded_with: VCR 5.1.0
