---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-3484-6875/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1597159301643},"name":{"created-date":{"value":1460764991842},"last-modified-date":{"value":1460764991842},"given-names":{"value":"Kristian"},"family-name":{"value":"Garza"},"credit-name":{"value":"K.
        J. Garza"},"source":null,"visibility":"public","path":"0000-0003-3484-6875"},"other-names":{"last-modified-date":{"value":1405917710280},"other-name":[{"created-date":{"value":1405917710280},"last-modified-date":{"value":1405917710280},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"content":"Kristian
        Javier Garza Gutierrez","visibility":"public","path":"/0000-0003-3484-6875/other-names/225968","put-code":225968,"display-index":0}],"path":"/0000-0003-3484-6875/other-names"},"biography":null,"researcher-urls":{"last-modified-date":{"value":1597159301643},"researcher-url":[{"created-date":{"value":1583069232459},"last-modified-date":{"value":1597159301643},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0001-6478-3604","path":"0000-0001-6478-3604","host":"orcid.org"},"source-name":{"value":"Elsevier
        - Mendeley"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"url-name":"Mendeley
        profile","url":{"value":"https://www.mendeley.com/profiles/kristian-g/"},"visibility":"public","path":"/0000-0003-3484-6875/researcher-urls/1977662","put-code":1977662,"display-index":2},{"created-date":{"value":1597159301641},"last-modified-date":{"value":1597159301641},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"url-name":"github","url":{"value":"https://github.com/kjgarza"},"visibility":"public","path":"/0000-0003-3484-6875/researcher-urls/2177689","put-code":2177689,"display-index":1}],"path":"/0000-0003-3484-6875/researcher-urls"},"emails":{"last-modified-date":{"value":1584600392142},"email":[{"created-date":{"value":1472212558828},"last-modified-date":{"value":1584600276734},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"email":"kgarza@datacite.org","path":null,"visibility":"public","verified":true,"primary":true,"put-code":null},{"created-date":{"value":1458954696062},"last-modified-date":{"value":1584600392142},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"email":"kj.garza@gmail.com","path":null,"visibility":"public","verified":true,"primary":false,"put-code":null},{"created-date":{"value":1379601154943},"last-modified-date":{"value":1379603095886},"source":{"source-orcid":null,"source-client-id":null,"source-name":null,"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"email":"garzaguk@cs.man.ac.uk","path":null,"visibility":"public","verified":true,"primary":false,"put-code":null},{"created-date":{"value":1458954686052},"last-modified-date":{"value":1458954716077},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"email":"k.garza@manchester.ac.uk","path":null,"visibility":"public","verified":true,"primary":false,"put-code":null}],"path":"/0000-0003-3484-6875/email"},"addresses":{"last-modified-date":{"value":1516113934881},"address":[{"created-date":{"value":1516113934881},"last-modified-date":{"value":1516113934881},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"country":{"value":"DE"},"visibility":"public","path":"/0000-0003-3484-6875/address/874810","put-code":874810,"display-index":1}],"path":"/0000-0003-3484-6875/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0003-3484-6875/keywords"},"external-identifiers":{"last-modified-date":{"value":1492778212570},"external-identifier":[{"created-date":{"value":1492778212567},"last-modified-date":{"value":1492778212570},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0001-8099-6984","path":"0000-0001-8099-6984","host":"orcid.org"},"source-name":{"value":"DataCite"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"external-id-type":"GitHub","external-id-value":"kjgarza","external-id-url":{"value":"https://github.com/kjgarza"},"external-id-relationship":"self","visibility":"public","path":"/0000-0003-3484-6875/external-identifiers/692978","put-code":692978,"display-index":0}],"path":"/0000-0003-3484-6875/external-identifiers"},"path":"/0000-0003-3484-6875/person"}'
  recorded_at: Sun, 30 Aug 2020 16:40:19 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-3484-6875/employments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1594804137969},"affiliation-group":[{"last-modified-date":{"value":1594804137969},"external-ids":{"external-id":[]},"summaries":[{"employment-summary":{"created-date":{"value":1486468878353},"last-modified-date":{"value":1594804137969},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-3484-6875","path":"0000-0003-3484-6875","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"K.
        J. Garza"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":3139844,"department-name":null,"role-title":"Application
        Developer","start-date":{"year":{"value":"2016"},"month":{"value":"08"},"day":null},"end-date":null,"organization":{"name":"DataCite","address":{"city":"Berlin","region":null,"country":"DE"},"disambiguated-organization":null},"url":{"value":"https://ror.org/04wxnsj81"},"external-ids":null,"display-index":"1","visibility":"public","path":"/0000-0003-3484-6875/employment/3139844"}}]}],"path":"/0000-0003-3484-6875/employments"}'
  recorded_at: Sun, 30 Aug 2020 16:40:19 GMT
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0APREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0APREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0APREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0APREFIX%20p:%20%3Chttp://www.wikidata.org/prop/%3E%0APREFIX%20v:%20%3Chttp://www.wikidata.org/prop/statement/%3E%0A%0ASELECT%20?item%20?itemLabel%20?ror%20?grid%20?ringgold%20WHERE%20%7B%20%20%0A%20%20?item%20wdt:P6782%20?ror;%0A%20%20%20%20%20%20%20%20wdt:P3500%20?ringgold;%0A%20%20%20%20%20%20%20%20wdt:P2427%20?grid%20.%0A%20%20FILTER(%20%7C%7C%20)).%0A%20%20SERVICE%20wikibase:label%20%7B%0A%20%20%20%20bd:serviceParam%20wikibase:language%20%22%5BAUTO_LANGUAGE%5D%22%20.%0A%20%20%20%7D%0A%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain
      X-Client-Ip:
      - 87.155.5.120
    body:
      encoding: ASCII-8BIT
      string: "SPARQL-QUERY: queryStr=PREFIX wikibase: <http://wikiba.se/ontology#>\nPREFIX
        wd: <http://www.wikidata.org/entity/> \nPREFIX wdt: <http://www.wikidata.org/prop/direct/>\nPREFIX
        rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nPREFIX p: <http://www.wikidata.org/prop/>\nPREFIX
        v: <http://www.wikidata.org/prop/statement/>\n\nSELECT ?item ?itemLabel ?ror
        ?grid ?ringgold WHERE {  \n  ?item wdt:P6782 ?ror;\n        wdt:P3500 ?ringgold;\n
        \       wdt:P2427 ?grid .\n  FILTER( || )).\n  SERVICE wikibase:label {\n
        \   bd:serviceParam wikibase:language \"[AUTO_LANGUAGE]\" .\n   }\n}\njava.util.concurrent.ExecutionException:
        org.openrdf.query.MalformedQueryException: Encountered \" \"||\" \"|| \"\"
        at line 12, column 11.\nWas expecting one of:\n    \"(\" ...\n    \"!\" ...\n
        \   \"+\" ...\n    \"-\" ...\n    \"exists\" ...\n    \"not exists\" ...\n
        \   \"str\" ...\n    \"lang\" ...\n    \"langmatches\" ...\n    \"datatype\"
        ...\n    \"bound\" ...\n    \"sameTerm\" ...\n    <IS_IRI> ...\n    \"isBlank\"
        ...\n    \"isLiteral\" ...\n    \"isNumeric\" ...\n    \"coalesce\" ...\n
        \   \"bnode\" ...\n    \"strdt\" ...\n    \"strlang\" ...\n    \"uuid\" ...\n
        \   \"struuid\" ...\n    <IRI> ...\n    \"if\" ...\n    \"count\" ...\n    \"sum\"
        ...\n    \"min\" ...\n    \"max\" ...\n    \"avg\" ...\n    \"sample\" ...\n
        \   \"group_concat\" ...\n    \"regex\" ...\n    \"true\" ...\n    \"false\"
        ...\n    \"strlen\" ...\n    \"substr\" ...\n    \"strStarts\" ...\n    \"strEnds\"
        ...\n    \"strBefore\" ...\n    \"strAfter\" ...\n    \"replace\" ...\n    \"ucase\"
        ...\n    \"lcase\" ...\n    \"concat\" ...\n    \"contains\" ...\n    \"encode_for_URI\"
        ...\n    \"rand\" ...\n    \"abs\" ...\n    \"ceil\" ...\n    \"floor\" ...\n
        \   \"round\" ...\n    \"now\" ...\n    \"year\" ...\n    \"month\" ...\n
        \   \"day\" ...\n    \"hours\" ...\n    \"minutes\" ...\n    \"seconds\" ...\n
        \   \"timezone\" ...\n    \"tz\" ...\n    \"md5\" ...\n    \"sha1\" ...\n
        \   \"sha224\" ...\n    \"sha256\" ...\n    \"sha384\" ...\n    \"sha512\"
        ...\n    <Q_IRI_REF> ...\n    <PNAME_NS> ...\n    <PNAME_LN> ...\n    <VAR1>
        ...\n    <VAR2> ...\n    <INTEGER> ...\n    <INTEGER_POSITIVE> ...\n    <INTEGER_NEGATIVE>
        ...\n    <DECIMAL> ...\n    <DECIMAL_POSITIVE> ...\n    <DECIMAL_NEGATIVE>
        ...\n    <DOUBLE> ...\n    <DOUBLE_POSITIVE> ...\n    <DOUBLE_NEGATIVE> ...\n
        \   <STRING_LITERAL1> ...\n    <STRING_LITERAL2> ...\n    <STRING_LITERAL_LONG1>
        ...\n    <STRING_LITERAL_LONG2> ...\n    \n\tat java.util.concurrent.FutureTask.report(FutureTask.java:122)\n\tat
        java.util.concurrent.FutureTask.get(FutureTask.java:206)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:292)\n\tat
        com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:678)\n\tat
        com.bigdata.rdf.sail.webapp.QueryServlet.doGet(QueryServlet.java:290)\n\tat
        com.bigdata.rdf.sail.webapp.RESTServlet.doGet(RESTServlet.java:240)\n\tat
[...]
