---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/users/0000-0003-1519-3661
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"e3944200402255344af4d6f93eb13365"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"0000-0003-1519-3661","type":"users","attributes":{"givenNames":"Peter","familyName":"Godfrey-Smith","name":"Peter
        Godfrey-Smith","orcid":"https://orcid.org/0000-0003-1519-3661","github":null,"roleId":"user","isActive":false,"created":"2017-12-15T12:30:56.000Z","updated":"2017-12-15T12:30:56.000Z"},"relationships":{}}}'
  recorded_at: Fri, 11 Oct 2019 11:25:19 GMT
recorded_with: VCR 3.0.3
