---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-2706-4082/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1446458024437},"name":{"created-date":{"value":1460764482041},"last-modified-date":{"value":1460764482041},"given-names":{"value":"Agnes"},"family-name":{"value":"Ebenberger"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0003-2706-4082"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0003-2706-4082/other-names"},"biography":null,"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0003-2706-4082/researcher-urls"},"emails":{"last-modified-date":{"value":1446458024437},"email":[{"created-date":{"value":1446458024436},"last-modified-date":{"value":1446458024436},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0002-4407-7742","path":"0000-0002-4407-7742","host":"orcid.org"},"source-name":{"value":"ORCID
        Integration at the University of Oxford"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"email":"agnes.ebenberger@spi.ox.ac.uk","path":null,"visibility":"public","verified":false,"primary":false,"put-code":null},{"created-date":{"value":1446458024437},"last-modified-date":{"value":1446458024437},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0002-4407-7742","path":"0000-0002-4407-7742","host":"orcid.org"},"source-name":{"value":"ORCID
        Integration at the University of Oxford"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"email":"agnes.ebenberger@sant.ox.ac.uk","path":null,"visibility":"public","verified":false,"primary":true,"put-code":null}],"path":"/0000-0003-2706-4082/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0003-2706-4082/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0003-2706-4082/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0003-2706-4082/external-identifiers"},"path":"/0000-0003-2706-4082/person"}'
  recorded_at: Wed, 02 Sep 2020 08:30:39 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-2706-4082/employments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":null,"affiliation-group":[],"path":"/0000-0003-2706-4082/employments"}'
  recorded_at: Wed, 02 Sep 2020 08:30:40 GMT
recorded_with: VCR 5.1.0
