---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-1419-2405/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1517873256636},"name":{"created-date":{"value":1460763664405},"last-modified-date":{"value":1460763664405},"given-names":{"value":"Martin"},"family-name":{"value":"Fenner"},"credit-name":{"value":"Martin
        Fenner"},"source":null,"visibility":"public","path":"0000-0003-1419-2405"},"other-names":{"last-modified-date":{"value":1446760703722},"other-name":[{"created-date":{"value":1406836421699},"last-modified-date":{"value":1406836421699},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-1419-2405","path":"0000-0003-1419-2405","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Martin
        Fenner"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"content":"M
        Fenner","visibility":"public","path":"/0000-0003-1419-2405/other-names/247043","put-code":247043,"display-index":0},{"created-date":{"value":1406836421700},"last-modified-date":{"value":1406836421700},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0003-1419-2405","path":"0000-0003-1419-2405","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Martin
        Fenner"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"content":"MH
        Fenner","visibility":"public","path":"/0000-0003-1419-2405/other-names/247044","put-code":247044,"displ[...]
