---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-7701-701X/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":null,"name":{"created-date":{"value":1511861313087},"last-modified-date":{"value":1511861313309},"given-names":{"value":"Rory"},"family-name":{"value":"O''Bryen"},"credit-name":null,"source":null,"visibility":"public","path":"0000-0001-7701-701X"},"other-names":{"last-modified-date":null,"other-name":[],"path":"/0000-0001-7701-701X/other-names"},"biography":null,"researcher-urls":{"last-modified-date":null,"researcher-url":[],"path":"/0000-0001-7701-701X/researcher-urls"},"emails":{"last-modified-date":null,"email":[],"path":"/0000-0001-7701-701X/email"},"addresses":{"last-modified-date":null,"address":[],"path":"/0000-0001-7701-701X/address"},"keywords":{"last-modified-date":null,"keyword":[],"path":"/0000-0001-7701-701X/keywords"},"external-identifiers":{"last-modified-date":null,"external-identifier":[],"path":"/0000-0001-7701-701X/external-identifiers"},"path":"/0000-0001-7701-701X/person"}'
  recorded_at: Wed, 02 Sep 2020 08:30:43 GMT
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-7701-701X/employments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"last-modified-date":{"value":1511861690547},"affiliation-group":[{"last-modified-date":{"value":1511861690547},"external-ids":{"external-id":[]},"summaries":[{"employment-summary":{"created-date":{"value":1511861690547},"last-modified-date":{"value":1511861690547},"source":{"source-orcid":{"uri":"https://orcid.org/0000-0001-7701-701X","path":"0000-0001-7701-701X","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Rory
        O''Bryen"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":4977986,"department-name":"Faculty
        of Modern and Medieval Languages","role-title":"Senior Lecturer in Latin American
        Literature and Culture","start-date":{"year":{"value":"2006"},"month":null,"day":null},"end-date":null,"organization":{"name":"University
        of Cambridge","address":{"city":"Cambridge ","region":"Cambridgeshire ","country":"GB"},"disambiguated-organization":{"disambiguated-organization-identifier":"2152","disambiguation-source":"RINGGOLD"}},"url":null,"external-ids":null,"display-index":"0","visibility":"public","path":"/0000-0001-7701-701X/employment/4977986"}}]}],"path":"/0000-0001-7701-701X/employments"}'
  recorded_at: Wed, 02 Sep 2020 08:30:44 GMT
- request:
    method: get
    uri: https://query.wikidata.org/sparql?query=%20%20%20%20%20%20PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0A%20%20%20%20%20%20PREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0A%20%20%20%20%20%20PREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0A%20%20%20%20%20%20PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0A%20%20%20%20%20%20PREFIX%20p:%20%3Chttp://www.wikidata.org/prop/%3E%0A%20%20%20%20%20%20PREFIX%20v:%20%3Chttp://www.wikidata.org/prop/statement/%3E%0A%0A%20%20%20%20%20%20SELECT%20?item%20?itemLabel%20?ror%20?grid%20?ringgold%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20?item%20wdt:P6782%20?ror.%0A%20%20%20%20%20%20%20%20OPTIONAL%20%7B%20?item%20wdt:P2427%20?grid.%20%7D%0A%20%20%20%20%20%20%20%20OPTIONAL%20%7B%20?item%20wdt:P3500%20?ringgold.%20%7D%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20FILTER(?ringgold%20in%20(%222152%22)%20%7C%7C%20?grid%20in%20(%22%22)).%0A%20%20%20%20%20%20%20%20%20%20%20SERVICE%20wikibase:label%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20bd:serviceParam%20wikibase:language%20%22%5BAUTO_LANGUAGE%5D%22%20.%0A%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%20%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '7'
      X-Client-Ip:
      - 87.155.5.120
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item", "itemLabel", "ror", "grid", "ringgold" ]
          },
          "results" : {
            "bindings" : [ {
              "item" : {
                "type" : "uri",
                "value" : "http://www.wikidata.org/entity/Q35794"
              },
              "ror" : {
                "type" : "literal",
                "value" : "013meh722"
              },
              "grid" : {
                "type" : "literal",
                "value" : "grid.5335.0"
              },
              "ringgold" : {
                "type" : "literal",
                "value" : "2152"
              },
              "itemLabel" : {
                "type" : "literal",
                "value" : "Q35794"
              }
            } ]
          }
        }
  recorded_at: Wed, 02 Sep 2020 08:30:51 GMT
recorded_with: VCR 5.1.0
