---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/XXXXX/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response-code":404,"developer-message":"404 Not Found: The resource
        was not found. Full validation error: ORCID iD XXXXX not found","user-message":"The
        resource was not found.","error-code":9016,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'
  recorded_at: Mon, 13 Jul 2020 12:14:07 GMT
recorded_with: VCR 5.1.0
