---
http_interactions:
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles/10.14454/05MB-Q396?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.14454/05MB-Q396","values":[{"index":1,"type":"URL","data":{"format":"string","value":"https://example.org"},"ttl":86400,"timestamp":"2021-05-26T13:21:38Z"}]}'
  recorded_at: Thu, 10 Jun 2021 19:19:57 GMT
recorded_with: VCR 5.1.0
