---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/10.1038/NATURE12373?email=info@datacite.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "best_oa_location": {
            "endpoint_id": "8c9d8ba370a84253deb",
            "evidence": "oa repository (via OAI-PMH doi match)",
            "host_type": "repository",
            "is_best": true,
            "license": null,
            "pmh_id": "oai:dash.harvard.edu:1/12285462",
            "repository_institution": "Harvard University - Digital Access to Scholarship at Harvard (DASH)",
            "updated": "2020-08-13T02:05:07.139585",
            "url": "https://dash.harvard.edu/bitstream/1/12285462/1/Nanometer-Scale%20Thermometry.pdf",
            "url_for_landing_page": "http://nrs.harvard.edu/urn-3:HUL.InstRepos:12285462",
            "url_for_pdf": "https://dash.harvard.edu/bitstream/1/12285462/1/Nanometer-Scale%20Thermometry.pdf",
            "version": "publishedVersion"
          },
          "data_standard": 2,
          "doi": "10.1038/nature12373",
          "doi_url": "https://doi.org/10.1038/nature12373",
          "genre": "journal-article",
          "has_repository_copy": true,
          "is_oa": true,
          "is_paratext": false,
          "journal_is_in_doaj": false,
          "journal_is_oa": false,
          "journal_issn_l": "0028-0836",
          "journal_issns": "0028-0836,1476-4687",
          "journal_name": "Nature",
          "oa_locations": [
            {
              "endpoint_id": "8c9d8ba370a84253deb",
              "evidence": "oa repository (via OAI-PMH doi match)",
              "host_type": "repository",
              "is_best": true,
              "license": null,
              "pmh_id": "oai:dash.harvard.edu:1/12285462",
              "repository_institution": "Harvard University - Digital Access to Scholarship at Harvard (DASH)",
              "updated": "2020-08-13T02:05:07.139585",
              "url": "https://dash.[...]
