---
http_interactions:
- request:
    method: post
    uri: https://citation.crosscite.org/format?locale=de&style=vancouver
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "report",
          "id": "https://handle.test.datacite.org/10.4122/qwxbwl8uvi3o79",
          "categories": [
            "datacite",
            "doi",
            "metadata"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2016,
                12,
                20
              ]
            ]
          },
          "submitted": {
            "date_parts": [
              [

              ]
            ]
          },
          "abstract": "Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...",
          "DOI": "10.4122/QWXBWL8UVI3O79",
          "publisher": "DataCite",
          "title": "Eating your own Dog Food",
          "URL": "http://kemmer.com/heidi",
          "version": 0
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '1. Fenner M. Eating your own Dog Food [Internet]. DataCite; 2016 Dec.
        Available from: http://kemmer.com/heidi

'
  recorded_at: Wed, 14 Mar 2018 11:02:44 GMT
recorded_with: VCR 3.0.3
