---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations/ror.org/0521rfb23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "https://ror.org/0521rfb23",
          "name": "Lincoln University",
          "types": [
            "Education"
          ],
          "links": [
            "http://www.lincoln.edu/"
          ],
          "aliases": [
            "Ashmun Institute"
          ],
          "acronyms": [
            "LU"
          ],
          "wikipedia_url": "http://en.wikipedia.org/wiki/Lincoln_University_(Pennsylvania)",
          "labels": [
            {
              "label": "Universidad Lincoln",
              "iso639": "es"
            }
          ],
          "country": {
            "country_code": "US",
            "country_name": "United States"
          },
          "external_ids": {
            "ISNI": {
              "preferred": null,
              "all": [
                "0000 0004 0420 5871"
              ]
            },
            "FundRef": {
              "preferred": null,
              "all": [
                "100007032"
              ]
            },
            "OrgRef": {
              "preferred": null,
              "all": [
                "833671"
              ]
            },
            "Wikidata": {
              "preferred": null,
              "all": [
                "Q4570781"
              ]
            },
            "GRID": {
              "preferred": "grid.417434.1",
              "all": "grid.417434.1"
            }
          }
        }
  recorded_at: Sun, 05 May 2019 11:19:00 GMT
recorded_with: VCR 3.0.3
