---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations/ror.org/02q0ygf45
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 455aaa49-4912-49f3-8935-0a478e0b03f5
      Allow:
      - GET, PUT, HEAD, OPTIONS
      X-Amzn-Remapped-Content-Length:
      - '895'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Rc7mMEl9DoEEnzA=
      X-Amzn-Remapped-Server:
      - nginx/1.18.0 + Phusion Passenger 6.0.7
      Status:
      - 200 OK
      X-Amzn-Remapped-Date:
      - Thu, 25 Sep 2025 09:34:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"admin":{"created":{"date":"2018-11-14","schema_version":"1.0"},"last_modified":{"date":"2024-12-11","schema_version":"2.1"}},"domains":[],"established":2000,"external_ids":[{"all":["grid.487335.e"],"preferred":"grid.487335.e","type":"grid"},{"all":["0000
        0004 0398 7680"],"preferred":null,"type":"isni"}],"id":"https://ror.org/02q0ygf45","links":[{"type":"website","value":"http://www.obsmedical.com/"}],"locations":[{"geonames_details":{"continent_code":"EU","continent_name":"Europe","country_code":"GB","country_name":"United
        Kingdom","country_subdivision_code":"ENG","country_subdivision_name":"England","lat":51.67109,"lng":-1.28278,"name":"Abingdon"},"geonames_id":2657780}],"names":[{"lang":null,"types":["ror_display","label"],"value":"OBS
        Medical (United Kingdom)"},{"lang":null,"types":["alias"],"value":"Oxford
        BioSignals"}],"relationships":[],"status":"active","types":["company"]}'
  recorded_at: Thu, 25 Sep 2025 09:34:05 GMT
recorded_with: VCR 6.2.0
