---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations/ror.org/018mejw64
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://ror.org/018mejw64","name":"Deutsche Forschungsgemeinschaft","types":["Facility"],"links":["http://www.dfg.de/en/"],"aliases":[],"acronyms":["DFG"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Deutsche_Forschungsgemeinschaft","labels":[{"label":"German
        Research Foundation","iso639":"en"}],"country":{"country_name":"Germany","country_code":"DE"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0001 1957 9997"]},"FundRef":{"preferred":null,"all":["501100001659"]},"OrgRef":{"preferred":null,"all":["950069"]},"Wikidata":{"preferred":null,"all":["Q707283"]},"GRID":{"preferred":"grid.424150.6","all":"grid.424150.6"}}}'
  recorded_at: Sat, 29 Aug 2020 17:56:02 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q707283&languages=en&props=labels%7Cdescriptions%7Cclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 87.155.5.120
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q707283":{"type":"item","id":"Q707283","labels":{"en":{"language":"en","value":"German
        Research Foundation"}},"descriptions":{"en":{"language":"en","value":"German
        research funding organisation, German Research Association in English"}},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"97972eb31e9e4e501d47f55802d4e4e3f6e06f0a","datavalue":{"value":{"entity-type":"item","numeric-id":748019,"id":"Q748019"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q707283$3B05E409-C640-47B6-A2E2-E19BF72EACAD","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P31","hash":"4408670e34180382eb12f8437b257762ffd20c78","datavalue":{"value":{"entity-type":"item","numeric-id":48204,"id":"Q48204"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q707283$e35811c9-489a-5152-4622-aab8053f0a20","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"135a1866e663b7ad5f94a456405a7f3c9b3c35d0","datavalue":{"value":"Deutsche
        Forschungsgemeinschaft","type":"string"},"datatype":"string"},"type":"statement","id":"q707283$E952F38E-F59A-41D3-901D-373590CA69F0","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P227":[{"mainsnak":{"snaktype":"value","property":"P227","hash":"38ffe03c992cbe3924aa5370030aeea6e6a9c661","datavalue":{"value":"2007744-0","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q707283$4A007BA5-9278-42A1-9560-70594B921D69","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","hash":"1016a9a2a37ed5b4291f9b468ec4232ea2454660","datavalue":{"value":"/m/03sp0q","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q707283$87E79252-87B4-4692-9F6B-FD6A7FE63D22","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a94b740202b097dd33355e0e6c00e54b9395e5e0","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","hash":"fde79ecb015112d2f29229ccc1ec514ed3e71fa2","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P269":[{"mainsnak":{"snaktype":"value","property":"P269","hash":"b08568533059f000581d0409a32c90a4c59702db","datavalue":{"value":"129175730","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q707283$75F77852-B2A4-4917-A0D8-CB9C829BF47E","rank":"normal","references":[{"hash":"63309730314f4c20bf6b1008fe8ffd2b155272b3","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"6b7d4330c4aac4caec4ede9de0311ce273f88ecd","datavalue":{"value":{"entity-type":"item","numeric-id":54919,"id":"Q54919"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P159":[{"mainsnak":{"snaktype":"value","property":"P159","hash":"1cd5b8a7015f34e7ca6d2bf1ea13acd4ec449709","datavalue":{"value":{"entity-type":"item","numeric-id":586,"id":"Q586"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P625":[{"snaktype":"value","property":"P625","hash":"716a2cdcee60ac3386cdd52a8d3b5858cabf4edd","datavalue":{"value":{"latitude":50.699443,"longitude":7.14777,"altitude":null,"precision":2.77777777778e-6,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"},"datatype":"globe-coordinate"}]},"qualifiers-order":["P625"],"id":"Q707283$0653690c-48cd-2e93-47db-63ab7c4ac7fa","rank":"normal"}],"P155":[{"mainsnak":{"snaktype":"value","property":"P155","hash":"05a8e6bee15f60e0eb7c73cfb2ba289946e963eb","datavalue":{"value":{"entity-type":"item","numeric-id":2002153,"id":"Q2002153"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q707283$f0fd91cb-45d6-70e5-9c64-38614946e49d","rank":"normal"}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","hash":"3f8ef9326378d43460f680ceb19275a1aaf76549","datavalue":{"value":{"time":"+1951-08-02T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q707283$75eca5b7-40ce-33e1-3539-639b0147b3f4","rank":"normal"}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","hash":"ef10c0607a0c47150486b6b1da9147a2d46f4ded","datavalue":{"value":"https://www.dfg.de/","type":"string"},"datatype":"url"},"type":"statement","qualifiers":{"P407":[{"snaktype":"value","property":"P407","hash":"46bfd327b830f66f7061ea92d1be430c135fa91f","datavalue":{"value":{"entity-type":"item","numeric-id":188,"id":"Q188"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P407"],"id":"Q707283$6ff7781f-4e4c-f2fa-bc81-fcfc334ad4c1","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P856","hash":"80212719c5c95185a9ea300400d3bc65f0827b91","datavalue":{"value":"https://www.dfg.de/en/index.jsp","type":"string"},"datatype":"url"},"type":"statement","qualifiers":{"P407":[{"snaktype":"value","property":"P407","hash":"daf1c4fcb58181b02dff9cc89deb084004ddae4b","datavalue":{"value":{"entity-type":"item","numeric-id":1860,"id":"Q1860"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P407"],"id":"Q707283$c282dd64-4e17-913b-0fcf-ec17ee143fba","rank":"normal"}],"P488":[{"mainsnak":{"snaktype":"value","property":"P488","hash":"c61ff1c3e7f298ce5da04bbdb33a25f2abc07b00","datavalue":{"value":{"entity-type":"item","numeric-id":99397,"id":"Q99397"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"fcae492b4d63f02ae71127f1deb46acbb5cac33d","datavalue":{"value":{"time":"+1929-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P582":[{"snaktype":"value","property":"P582","hash":"226ad97555de0b69a551fa6f6830eddcb7a5af8f","datavalue":{"value":{"time":"+1934-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P580","P582"],"id":"Q707283$137060cf-4c09-97ec-6b79-c8b7d79f0850","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P488","hash":"17e87821175a7b7572a6e98bad8178aa91ca0933","datavalue"[...]
- request:
    method: get
    uri: https://api.ror.org/v1/organizations/ror.org/018mejw64
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, PUT, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://ror.org/018mejw64","name":"Deutsche Forschungsgemeinschaft","email_address":null,"ip_addresses":[],"established":1951,"types":["Funder","Nonprofit"],"relationships":[{"label":"Knowledge
        Exchange","type":"Related","id":"https://ror.org/025zn3p72"}],"addresses":[{"lat":50.73438,"lng":7.09549,"state":null,"state_code":null,"city":"Bonn","geonames_city":{"id":2946447,"city":"Bonn","geonames_admin1":{"name":"North
        Rhine-Westphalia","id":null,"ascii_name":null,"code":"DE.NW"},"geonames_admin2":{"name":null,"id":null,"ascii_name":null,"code":null},"license":{"attribution":"Data
        from geonames.org under a CC-BY 3.0 license","license":"http://creativecommons.org/licenses/by/3.0/"},"nuts_level1":{"name":null,"code":null},"nuts_level2":{"name":null,"code":null},"nuts_level3":{"name":null,"code":null}},"postcode":null,"primary":false,"line":null,"country_geonames_id":null}],"links":["http://www.dfg.de/en/"],"aliases":[],"acronyms":["DFG"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Deutsche_Forschungsgemeinschaft","labels":[{"label":"German
        Research Foundation","iso639":"en"}],"country":{"country_name":"Germany","country_code":"DE"},"external_ids":{"ISNI":{"preferred":"0000
        0001 2096 9829","all":["0000 0001 2096 9829"]},"FundRef":{"preferred":null,"all":["501100001659"]},"Wikidata":{"preferred":null,"all":["Q707283"]},"GRID":{"preferred":"grid.424150.6","all":"grid.424150.6"}}}'
  recorded_at: Fri, 11 Jul 2025 08:28:58 GMT
recorded_with: VCR 6.2.0
