---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations/ror.org/0521rfb23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://ror.org/0521rfb23","name":"Lincoln University - Pennsylvania","types":["Education"],"links":["http://www.lincoln.edu/"],"aliases":["Ashmun
        Institute"],"acronyms":["LU"],"status":"active","wikipedia_url":"http://en.wikipedia.org/wiki/Lincoln_University_(Pennsylvania)","labels":[{"label":"Universidad
        Lincoln","iso639":"es"}],"country":{"country_name":"United States","country_code":"US"},"external_ids":{"ISNI":{"preferred":null,"all":["0000
        0004 0420 5871"]},"FundRef":{"preferred":null,"all":["100007032"]},"OrgRef":{"preferred":null,"all":["833671"]},"Wikidata":{"preferred":null,"all":["Q4570781"]},"GRID":{"preferred":"grid.417434.1","all":"grid.417434.1"}}}'
  recorded_at: Mon, 13 Jul 2020 12:20:20 GMT
recorded_with: VCR 5.1.0
