---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=%22https://ror.org/04wxnsj81%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"number_of_results":1,"time_taken":15,"items":[{"id":"https://ror.org/04wxnsj81","name":"DataCite","types":["Nonprofit"],"links":["https://www.datacite.org"],"aliases":[],"acronyms":[],"status":"active","wikipedia_url":"https://en.wikipedia.org/wiki/DataCite","labels":[],"country":{"country_name":"Germany","country_code":"DE"},"external_ids":{"Wikidata":{"preferred":"Q821542","all":["Q821542"]},"GRID":{"preferred":"grid.475826.a","all":"grid.475826.a"}}}],"meta":{"types":[{"id":"nonprofit","title":"Nonprofit","count":1}],"countries":[{"id":"de","title":"Federal
        Republic of Germany","count":1}]}}'
  recorded_at: Sat, 28 Mar 2020 05:07:10 GMT
recorded_with: VCR 5.1.0
