---
http_interactions:
- request:
    method: get
    uri: https://handle.test.datacite.org/api/handles/10.14454/05MB-Q396?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.14454/05MB-Q396","values":[{"index":1,"type":"URL","data":{"format":"string","value":"http://stokes.info/erin"},"ttl":86400,"timestamp":"2020-10-11T20:23:26Z"}]}'
  recorded_at: Mon, 12 Oct 2020 05:12:08 GMT
recorded_with: VCR 5.1.0
