---
http_interactions:
- request:
    method: post
    uri: https://citation.crosscite.org/format?locale=en-US&style=apa
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "article-journal",
          "id": "https://handle.test.datacite.org/10.14454/yqzokpgyfddvly9",
          "categories": [
            "datacite",
            "doi",
            "metadata"
          ],
          "author": [
            {
              "family": "Fenner",
              "given": "Martin"
            }
          ],
          "issued": {
            "date-parts": [
              [
                2016,
                12,
                20
              ]
            ]
          },
          "abstract": "Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...",
          "DOI": "10.14454/YQZOKPGYFDDVLY9",
          "publisher": "DataCite",
          "title": "Eating your own Dog Food",
          "version": "1.0"
        }
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: 'Fenner, M. (2016). Eating your own Dog Food (Version 1.0). https://doi.org/10.14454/YQZOKPGYFDDVLY9

'
  recorded_at: Sat, 01 Sep 2018 07:58:18 GMT
recorded_with: VCR 3.0.3
