---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/re3data?page%5Bnumber%5D=1&page%5Bsize%5D=25&query=xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8a2e50dd71ab95eba00f90776adb367e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"meta":{"total":0,"totalPages":0,"page":1},"links":{"self":"https://api.datacite.org/re3data?page%5Bnumber%5D=1\u0026page%5Bsize%5D=25\u0026query=xxx"}}'
  recorded_at: Mon, 13 Jul 2020 12:13:49 GMT
recorded_with: VCR 5.1.0
