---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.14454
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.14454",
            "RA": "DataCite"
          }
        ]
  recorded_at: Sun, 09 Aug 2020 17:15:13 GMT
- request:
    method: get
    uri: https://api.crossref.org/funders/10.13039/501100009053
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"funder","message-version":"1.0.0","message":{"hierarchy-names":{"501100009053":"The
        Wellcome Trust DBT India Alliance"},"replaced-by":[],"work-count":455,"name":"The
        Wellcome Trust DBT India Alliance","descendants":[],"descendant-work-count":455,"id":"501100009053","tokens":["the","wellcome","trust","dbt","india","alliance","india","alliance","wtdbt","india","alliance","wellcome","trust\/dbt","india","alliance","wellcome","trust","dbt","india","alliance"],"replaces":[],"uri":"http:\/\/dx.doi.org\/10.13039\/501100009053","hierarchy":{"501100009053":{}},"alt-names":["India
        Alliance","WTDBT India Alliance","Wellcome Trust\/DBT India Alliance","Wellcome
        Trust DBt India Alliance"],"location":"India"}}'
  recorded_at: Sun, 09 Aug 2020 17:15:24 GMT
recorded_with: VCR 5.1.0
