---
http_interactions:
- request:
    method: put
    uri: https://handle.test.datacite.org/api/handles/10.14454/10703
    body:
      encoding: UTF-8
      string: '[{"index":100,"type":"HS_ADMIN","data":{"format":"admin","value":{"handle":"test_handle_user","index":300,"permissions":"111111111111"}}},{"index":1,"type":"URL","data":{"format":"string","value":"http://www.bl.uk/pdf/patspec.pdf"}}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Basic <HANDLE_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm="handle", Handle sessionId="node01jk1d4vj0x0593dahxbzxj23i174",
        nonce="obNftTBzRH1UBGTvFaC1gQ==", error="Identity not verified"
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 23 Sep 2025 16:26:15 GMT
recorded_with: VCR 6.2.0
