---
http_interactions:
- request:
    method: get
    uri: https://api.stage.datacite.org/claims?dois=10.17863/cam.536&user-id=0000-0001-5663-772X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJSUzI1NiJ9.eyJ1aWQiOiIwMDAwLTAwMDEtNTY2My03NzJYIiwibmFtZSI6Ikpvc2lhaCBDYXJiZXJyeSIsInJvbGVfaWQiOiJzdGFmZl9hZG1pbiIsImF1ZCI6InN0YWdlIiwiaWF0IjoxNjAxODEyNjczLCJleHAiOjE2MDE4MTI3MDN9.fcHi64H3Ab1SMbOO_b1uXIVA85vo40Ua58-IL4xeZNH2zHQh7DUpSgg2-UKLA3lX4-YG5vRcaE7r6-R0TLeVKhKYFOTAy9s_LPK0sCofJcDcECanHXdNC7xCsxT-VjZ0_nlORE3YIwZ9IMv-Qj6ATc4zDcgzdxFy22P4FnhYh_wkaZ51X0eH437GDHid4xiTYFVmOJYD9UsIS-9CcET2Pe4-GBANBcJyhpnrSkKxRyr4xKMA7dxl3hb3K2KBuyHbITOUT3wvXHHwhg__Bw9T9F7BO13P-zOEwFp4DgA1Uq1HJZ8bH-6CqO3Zz7sGXUWGUedqn18QaIyedpZ8aRhq0g
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - 0000-0001-5663-772X
      Etag:
      - W/"e7c7f5a08af7baf4e480ef531e47fd08"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"9ea4e702-919c-4b72-a5ed-6cf215cdbe60","type":"claims","attributes":{"orcid":"https://orcid.org/0000-0001-5663-772X","doi":"https://doi.org/10.17863/cam.536","sourceId":"orcid_update","state":"done","claimAction":"create","errorMessages":[],"putCode":37669203,"claimed":"2017-10-16T11:15:01.000Z","created":"2017-10-16T11:14:59.000Z","updated":"2018-11-08T20:13:31.000Z"},"relationships":{"user":{"data":{"id":"0000-0001-5663-772X","type":"users"}}}}],"meta":{"total":1,"totalPages":1,"page":1,"created":[{"id":"2017","title":"2017","count":1}],"sources":[{"id":"orcid_update","title":"Orcid
        Update","count":1}],"users":[{"id":"0000-0001-5663-772X","title":"0000-0001-5663-772X","count":1}],"claimActions":[{"id":"create","title":"Create","count":1}],"states":[{"id":"done","title":"Done","count":1}]},"links":{"self":"https://api.stage.datacite.org/claims?dois=10.17863%2Fcam.536&user-id=0000-0001-5663-772X","next":"https://api.stage.datacite.org/claims?page%5Bnumber%5D=2&page%5Bsize%5D=25"}}'
  recorded_at: Sun, 04 Oct 2020 11:58:01 GMT
recorded_with: VCR 5.1.0
