---
http_interactions:
- request:
    method: get
    uri: https://doi.org/api/handles/10.1371/JOURNAL.PBIO.2001414?index=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseCode":1,"handle":"10.1371/JOURNAL.PBIO.2001414","values":[{"index":1,"type":"URL","data":{"format":"string","value":"http://dx.plos.org/10.1371/journal.pbio.2001414"},"ttl":86400,"timestamp":"2017-06-29T17:30:17Z"}]}'
  recorded_at: Mon, 30 Jul 2018 18:53:52 GMT
recorded_with: VCR 3.0.3
