name: Parallel CI
on:
  workflow_call:
    inputs:
      fail-fast:
        description: 'Stop all jobs if any job fails'
        required: false
        type: boolean
        default: true

jobs:
  parallel-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        # set N-1 indexes for parallel jobs
        # When you run 2 parallel jobs then first job will have index 0, the second job will have index 1 etc
        ci_node_index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
        # Set N number of parallel jobs you want to run
        # Remember to update ci_node_index above to 0..N-1
        ci_node_total: [16]

    services:
      memcached:
        image: memcached:1.4.31
        ports:
          - 11211
      mysql:
        image: mysql:8.0.36
        env:
          MYSQL_DATABASE: datacite
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        ports:
          - 3306
      elasticsearch:
        image: opensearchproject/opensearch:2
        env:
          discovery.type: single-node
          OPENSEARCH_JAVA_OPTS: -Xms512m -Xmx512m
          OPENSEARCH_INITIAL_ADMIN_PASSWORD: AnUnsecurePassword123
          DISABLE_SECURITY_PLUGIN: true
          http.cors.enabled: true
          bootstrap.memory_lock: true
          http.cors.allow-origin: "*"
          compatibility.override_main_response_version: true
          logger.org.opensearch.discovery: "ERROR"
        ports:
          - 9200
      localstack:
        image: localstack/localstack
        ports:
          - "4566:4566"  # LocalStack edge port
        env:
          SERVICES: s3   # Only start S3
          AWS_ACCESS_KEY_ID: s3accesskeyid
          AWS_SECRET_ACCESS_KEY: s3accesskeypass

    env:
      MYSQL_HOST: "127.0.0.1"
      MYSQL_USER: root
    steps:
      - uses: actions/checkout@v4

      - name: Sync time
        run: |
          sudo apt-get update
          sudo apt-get install -y ntpdate
          sudo ntpdate pool.ntp.org

      - name: Set up Ruby 3.1.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.6
      - uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Install ImageMagick
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick
      - name: Install
        env:
          MYSQL_PORT: ${{ job.services.mysql.ports[3306] }}
          MYSQL_DATABASE: ${{ job.services.mysql.env.MYSQL_DATABASE }}
          ES_HOST: localhost:${{ job.services.elasticsearch.ports[9200] }}
          ELASTIC_PASSWORD: ${{ job.services.elasticsearch.env.OPENSEARCH_INITIAL_ADMIN_PASSWORD }}
          MEMCACHE_SERVERS: localhost:${{ job.services.memcached.ports[11211] }}
          RAILS_ENV: test
        run: |
          cp .env.build .env
          gem install rubygems-update -v 3.4.22
          gem install bundler:2.6.9
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          bundle exec rails db:setup
      - name: Test
        env:
          MYSQL_PORT: ${{ job.services.mysql.ports[3306] }}
          MYSQL_DATABASE: ${{ job.services.mysql.env.MYSQL_DATABASE }}
          ES_HOST: localhost:${{ job.services.elasticsearch.ports[9200] }}
          ELASTIC_PASSWORD: ${{ job.services.elasticsearch.env.OPENSEARCH_INITIAL_ADMIN_PASSWORD }}
          MEMCACHE_SERVERS: localhost:${{ job.services.memcached.ports[11211] }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ENDPOINT_URL_S3: http://localhost:${{ job.services.localstack.ports[4566] }}
          AWS_ACCESS_KEY_ID_S3: s3accesskeyid
          AWS_SECRET_ACCESS_KEY_S3: s3accesskeypass
          CI_NODE_TOTAL: ${{ matrix.ci_node_total }}
          CI_NODE_INDEX: ${{ matrix.ci_node_index }}
          RAILS_ENV: test
        run: |
          if [ "${{ inputs.fail-fast }}" = "true" ]; then
            bundle exec parallel_test spec/ -n $CI_NODE_TOTAL --only-group $CI_NODE_INDEX --type rspec -o "--fail-fast"
          else
            bundle exec parallel_test spec/ -n $CI_NODE_TOTAL --only-group $CI_NODE_INDEX --type rspec
          fi
          echo $?
