---
http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v2.1/xxx/person
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "response-code" : 404,
          "developer-message" : "404 Not Found: The resource was not found. Full validation error: ORCID iD xxx not found",
          "user-message" : "The resource was not found.",
          "error-code" : 9016,
          "more-info" : "https://members.orcid.org/api/resources/troubleshooting"
        }
  recorded_at: Sun, 05 May 2019 10:25:09 GMT
recorded_with: VCR 3.0.3
